.tooltip__msg {
    background: #cdece9;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #eee;
    width: 135px;
    z-index: 9;
    font-size: 11px;
}

.tooltip__msg.grey {
    background: #ddd;
    border: 1px solid #ddd;
}

/** message on bottom **/
.tooltip__msg.bottom {
    top: 45px;
    right: 0;
}

.tooltip__msg.bottom:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #cdece9;
    border-width: 10px;
    margin-left: -10px;
}

/** message on left **/

.tooltip__msg.left {
    left: -170px;
    top: -3px;
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.tooltip__msg.left:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #cdece9;
    border-width: 10px;
    margin-top: -10px;
}

/** message on top **/
.tooltip__msg.top {
    top: -48px;
    right: 0;
    width: 94%;
}

.tooltip__msg.top:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #cdece9;
    border-width: 10px;
    margin-left: -10px;
}

/** message on right  **/
.tooltip__msg.right {
    right: -170px;
    top: -3px;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.tooltip__msg.right:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #cdece9;
    border-width: 10px;
    margin-top: -10px;
}

.tooltip__msg.grey.right:after {
    border-right-color: #ddd;
}

.tooltip__msg.grey.left:after {
    border-left-color: #ddd;
}

.tooltip__msg.grey.top:after {
    border-top-color: #ddd;
}

.tooltip__msg.grey.bottom:after {
    border-bottom-color: #ddd;
}