.z-btn {
  padding: 10px;
  width: 200px;
  color: #fff;

   &.disabled {
     opacity: 0.6;
     cursor: not-allowed;
  }
}

.z-btn-primary {
  background: #000;
  border: 1px solid #000;

    &:hover:not(.disabled) {
      background: #fff;
      color: #000;
    }
}

.z-btn-outline {
  background: #fff;
  border: 1px solid #000;
  color: #fff;

    &:hover:not(.disabled) {
      background: #000;
      color: #fff;
    }
}

.z-btn-secondary {
  background: #bbb;
  border: 1px solid #bbb;

    &:hover:not(.disabled) {
      background: #fff;
      color: #000;
    }
}

.z-btn-special {
  background: #238189;
  border: 1px solid #238189;

    &:hover:not(.disabled) {
      background: #fff;
      color: #238189;
    }
}