@import "config/_color";

.z-btn {
  padding: 10px;
  width: 200px;
  color: $btn_default_text;
   &.disabled {
     opacity: 0.6;
     cursor: not-allowed;
  }
}

.z-btn-primary {
  @extend .z-btn;
  background: $btn_primary_background;
  border: 1px solid $btn_primary_border;
    &:hover:not(.disabled) {
      background: $btn_primary_background_hover;
      color: $btn_primary_text_hover;
    }
}

.z-btn-outline {
  @extend .z-btn;
  background: $btn_outline_background;
  border: 1px solid $btn_outline_border;
  color: $btn_outline_text;
    &:hover:not(.disabled) {
      background: $btn_outline_background_hover;
      color: $btn_outline_text_hover;
    }
}

.z-btn-secondary {
  @extend .z-btn;
  background: $btn_secondary_background;
  border: 1px solid $btn_secondary_border;
    &:hover:not(.disabled) {
      background: $btn_secondary_background_hover;
      color: $btn_secondary_text_hover;
    }
}

.z-btn-special {
  @extend .z-btn;
  background: $btn_special_background;
  border: 1px solid $btn_special_border;
    &:hover:not(.disabled) {
      background: $btn_special_background_hover;
      color: $btn_special_text_hover;
    }
}