@import "config/_color";

/* User Details Card */

.card {
    border: 2px solid $user_card_border;
    width: 310px;
}

.card__selection {
    display: none;
}

.card__label {
    cursor: pointer;
}

.card__action {
    float: right;
    margin: 20px 20px 0 0;
    a {
        margin: 0 10px;
        cursor: pointer;
    }
}

.card__content {
    padding: 53px 35px;
}

.card__data {
    margin-bottom: 30px;
    div {
        margin-left: 20px;
    }
    &:last-child {
        margin: 0;
    }
}

input[type=radio].card__selection:checked + .card__label > div.card, .card__label:hover > div.card {
    border: 2px solid #313131;
}

/** Credit Card Detail **/

.cc_card {
    background: $cc_card_background;
    border: 2px solid $cc_card_border;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

.cc_card__label {
    cursor: pointer;
}

.cc_card form {
    width: 100%;
}

.cc_card__selection {
    display: none;
}

.cc_card__action {
    position: absolute;
    right: 15px;
}

.cc_card__type {
    vertical-align: middle;
    margin-left: 55px;
}

input {
    &.cc_card__cvc {
        text-indent: 20px;
    }
    &[type=radio].cc_card__selection:checked + .cc_card__label > div.cc_card {
        border: 2px solid $cc_card_border_hover;
    }
}

.cc_card__label:hover > div.cc_card {
    border: 2px solid $cc_card_border_hover;
}

/** Pagination **/

ul.pagination li {
    list-style: none;
    display: inline-block;
    a {
        display: block;
        padding: 5px 10px;
        border: 1px solid $pagination_border;
        color: $pagination_text;
        text-decoration: none;
    }
    &:hover a {
        border: 1px solid $pagination_border_hover;
    }
    &.active a {
        background: $pagination_active_background;
        color: $pagination_active_text;
        border: 1px solid $pagination_border_hover;
    }
}