@import "config/_color";

/** typography **/

body {
  font-size: 13px;
  color: $body_text_color;
}

.dark {
  color: $body_text_dark_color;
}

.muted {
  color: $body_text_muted_color;
}

.txtUpper {
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
}

.fsl {
  font-size: 14px;
}

.fss {
  font-size: 11px;
}

.fsxs {
  font-size: 10px;
}