<!-- Main menu -->
<ul class="site-nav__general">
  {% for node in site.pages %}
    {% if node.type != "docs" and node.title %}
    <li>
      <a  class="page-link
                pas
                ui-inlineBlock
                {% if page.url == node.url %}active{% endif %}"
          href="{{ node.url | prepend: site.baseurl }}">
        {{ node.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<!-- Sub Menu for desktop styles -->
<ul class="site-nav__desktop-docs">
  {% for node in site.pages %}
    {% if node.type == "docs" and node.area == "desktop-docs" and node.title %}
    <li>
      <a  class="page-link
                pas
                ui-inlineBlock
                {% if page.url == node.url %}active{% endif %}"
          href="{{ node.url | prepend: site.baseurl }}">
        {{ node.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
