<!-- Main menu -->
<ul class="site-nav__general">
  {% for page in site.pages %}
    {% if page.type != "docs" and page.title %}
    <li>
      <a class="page-link pas ui-inlineBlock" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<!-- Sub Menu for desktop styles -->
<ul class="site-nav__desktop-docs">
  {% for page in site.pages %}
    {% if page.type == "docs" and page.area == "desktop-docs" and page.title %}
    <li>
      <a class="page-link pas ui-inlineBlock" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
