/**
* All the colors naming are took from this site
* http://chir.ag/projects/name-that-color/
**/
$black: #000;
$mine_shaft: #313131;
$white: #fff;
$elm: #238189;
$silver: #bbb;
$gray: #909090;
$jagged_ice: #cdece9;
$gallery: #eee;
$alto: #ddd;
$robin_egg_blue: #00C8B4;
$geraldine: #FF8484;
$concrete: #f2f2f2;

/** layout **/
$body_text_color: $mine_shaft;
$body_text_dark_color: $black;
$body_text_muted_color: $gray;
/** layout **/

/** form **/
$form_border: $alto;
$form_border_focus: $robin_egg_blue;
$form_border_error: $geraldine;
/** form **/

/** button **/
$btn_default_text: $white;
$btn_default_text_hover: $white;
$btn_default_background: $white;
$btn_default_background_hover: $white;
$btn_default_border: $white;
$btn_default_border_hover: $white;

$btn_primary_text: $white;
$btn_primary_text_hover: $black;
$btn_primary_background: $black;
$btn_primary_background_hover: $white;
$btn_primary_border: $black;
$btn_primary_border_hover: $black;

$btn_outline_text: $black;
$btn_outline_text_hover: $white;
$btn_outline_background: $white;
$btn_outline_background_hover: $black;
$btn_outline_border: $black;
$btn_outline_border_hover: $black;

$btn_secondary_text: $white;
$btn_secondary_text_hover: $black;
$btn_secondary_background: $silver;
$btn_secondary_background_hover: $white;
$btn_secondary_border: $silver;
$btn_secondary_border_hover: $silver;

$btn_special_text: $white;
$btn_special_text_hover: $elm;
$btn_special_background: $elm;
$btn_special_background_hover: $white;
$btn_special_border: $elm;
$btn_special_border_hover: $elm;
/** button **/

/** tooltip **/
$tooltip_default_background: $jagged_ice;
$tooltip_default_border: $jagged_ice;
$tooltip_grey_background: $alto;
$tooltip_grey_border: $alto;
$tooltip_box_shadow: $gallery;
/** tooltip **/

/** user card **/
$user_card_border: $alto;
/** user card **/

/** credit card **/
$cc_card_background: $concrete;
$cc_card_border: $concrete;
$cc_card_border_hover: $mine_shaft;
/** credit card **/

/** pagination **/
$pagination_border: $alto;
$pagination_border_hover: $mine_shaft;
$pagination_text: $mine_shaft;
$pagination_active_background: $black;
$pagination_active_text: $white;
/** pagination **/

/** tab **/
$tab_border: $alto;
$tab_arrow_border: $black;
$tab_text: $black;
$tab_border_active: $black;

$tab_inverted_border: $robin_egg_blue;
$tab_inverted_text: $white;
$tab_inverted_background: $mine_shaft;

/** tab **/