body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0;
  font-size: 16px; }

img {
  width: 100%; }

code {
  background-color: #F4F4F4;
  padding: 2px; }

li {
  line-height: 2rem; }

.navbar {
  grid-area: header; }

.sidebar {
  grid-area: sidebar; }

.main {
  grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header header header'  'sidebar main main main main main main main';
  grid-gap: 10px;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh; }

.navbar {
  background-color: black;
  color: white;
  padding: 10px; }

.sidebar {
  color: #333;
  border-right: 1px solid #ddd; }

.sidebar__filename,
.sidebar__filename--active {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0; }

.sidebar__filename--active {
  color: teal;
  font-weight: 800; }

.sidebar__category {
  font-size: 24px;
  font-weight: 500;
  color: gray; }

.sidebar__filename:hover,
.sidebar__category:hover {
  cursor: pointer; }

.sidebar__search {
  padding: 1rem 15px; }

.sidebar__search--input {
  box-sizing: border-box;
  height: calc(2.25rem + 2px);
  width: 100%;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ccc;
  font-size: 1rem; }

.main {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.article,
.playground {
  margin: 30px; }

.playground {
  font-size: 18px; }

.playground__wrapper {
  border: 1px solid #eee;
  border-radius: .5rem; }

.playground__preview {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll; }

.filename:hover {
  cursor: pointer; }

.example {
  border: 1px solid #eee;
  border-radius: .5rem;
  padding: 15px 0; }

.example__preview {
  border-bottom: 1px solid #eee;
  padding: 0 15px 15px 15px; }

.example__codeblock {
  padding: 15px 15px 0 15px; }

.swatch {
  display: inline-block;
  width: 150px;
  box-shadow: 0 10px 20px 0 rgba(4, 68, 77, 0.15); }

.swatch__color {
  height: 130px; }

.swatch__info {
  background-color: #fff;
  padding: 10px;
  text-transform: uppercase; }

.swatch__info__name {
  display: block;
  color: #2f3941;
  line-height: 1.66667;
  font-weight: 600;
  font-size: 12px; }

/* Loading icon for fun */
.loading__icon {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px; }

.loading__icon div {
  animation: loading__icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.loading__icon div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px; }

.loading__icon div:nth-child(1) {
  animation-delay: -0.036s; }

.loading__icon div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.loading__icon div:nth-child(2) {
  animation-delay: -0.072s; }

.loading__icon div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.loading__icon div:nth-child(3) {
  animation-delay: -0.108s; }

.loading__icon div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.loading__icon div:nth-child(4) {
  animation-delay: -0.144s; }

.loading__icon div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.loading__icon div:nth-child(5) {
  animation-delay: -0.18s; }

.loading__icon div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.loading__icon div:nth-child(6) {
  animation-delay: -0.216s; }

.loading__icon div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.loading__icon div:nth-child(7) {
  animation-delay: -0.252s; }

.loading__icon div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.loading__icon div:nth-child(8) {
  animation-delay: -0.288s; }

.loading__icon div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes loading__icon {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@-moz-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@-webkit-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }

/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/
.cm-s-material.CodeMirror {
  background-color: #263238;
  color: #e9eded; }

.cm-s-material .CodeMirror-gutters {
  background: #263238;
  color: #537f7e;
  border: none; }

.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber {
  color: #537f7e; }

.cm-s-material .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0; }

.cm-s-material div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15); }

.cm-s-material.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-material .CodeMirror-line::selection, .cm-s-material .CodeMirror-line > span::selection, .cm-s-material .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-material .CodeMirror-line::-moz-selection, .cm-s-material .CodeMirror-line > span::-moz-selection, .cm-s-material .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-material .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0); }

.cm-s-material .cm-keyword {
  color: #c792ea; }

.cm-s-material .cm-operator {
  color: #e9eded; }

.cm-s-material .cm-variable-2 {
  color: #80CBC4; }

.cm-s-material .cm-variable-3, .cm-s-material .cm-type {
  color: #82B1FF; }

.cm-s-material .cm-builtin {
  color: #DECB6B; }

.cm-s-material .cm-atom {
  color: #F77669; }

.cm-s-material .cm-number {
  color: #F77669; }

.cm-s-material .cm-def {
  color: #e9eded; }

.cm-s-material .cm-string {
  color: #C3E88D; }

.cm-s-material .cm-string-2 {
  color: #80CBC4; }

.cm-s-material .cm-comment {
  color: #546E7A; }

.cm-s-material .cm-variable {
  color: #82B1FF; }

.cm-s-material .cm-tag {
  color: #80CBC4; }

.cm-s-material .cm-meta {
  color: #80CBC4; }

.cm-s-material .cm-attribute {
  color: #FFCB6B; }

.cm-s-material .cm-property {
  color: #80CBAE; }

.cm-s-material .cm-qualifier {
  color: #DECB6B; }

.cm-s-material .cm-variable-3, .cm-s-material .cm-type {
  color: #DECB6B; }

.cm-s-material .cm-tag {
  color: #ff5370; }

.cm-s-material .cm-error {
  color: white;
  background-color: #EC5F67; }

.cm-s-material .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important; }

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa; }

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649; }

.hljs-literal {
  color: #0184bb; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f; }

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

.u-bg-white {
  background-color: #fff; }

.u-text-white {
  color: #fff; }

.u-border-white {
  border-color: #fff; }

.u-bg-black {
  background-color: #000; }

.u-text-black {
  color: #000; }

.u-border-black {
  border-color: #000; }

.u-bg-grey-100 {
  background-color: #262626; }

.u-text-grey-100 {
  color: #262626; }

.u-border-grey-100 {
  border-color: #262626; }

.u-bg-grey-80 {
  background-color: #474747; }

.u-text-grey-80 {
  color: #474747; }

.u-border-grey-80 {
  border-color: #474747; }

.u-bg-grey-60 {
  background-color: #737373; }

.u-text-grey-60 {
  color: #737373; }

.u-border-grey-60 {
  border-color: #737373; }

.u-bg-grey-20 {
  background-color: #dedede; }

.u-text-grey-20 {
  color: #dedede; }

.u-border-grey-20 {
  border-color: #dedede; }

.u-bg-grey-10 {
  background-color: #f4f4f4; }

.u-text-grey-10 {
  color: #f4f4f4; }

.u-border-grey-10 {
  border-color: #f4f4f4; }

.u-bg-green-10 {
  background-color: #d9f7d2; }

.u-text-green-10 {
  color: #d9f7d2; }

.u-border-green-10 {
  border-color: #d9f7d2; }

.u-bg-green-60 {
  background-color: #2e8618; }

.u-text-green-60 {
  color: #2e8618; }

.u-border-green-60 {
  border-color: #2e8618; }

.u-bg-green-80 {
  background-color: #1d680a; }

.u-text-green-80 {
  color: #1d680a; }

.u-border-green-80 {
  border-color: #1d680a; }

.u-bg-green-90 {
  background-color: #1b510e; }

.u-text-green-90 {
  color: #1b510e; }

.u-border-green-90 {
  border-color: #1b510e; }

.u-bg-red-10 {
  background-color: #fde4e4; }

.u-text-red-10 {
  color: #fde4e4; }

.u-border-red-10 {
  border-color: #fde4e4; }

.u-bg-red-60 {
  background-color: #b81818; }

.u-text-red-60 {
  color: #b81818; }

.u-border-red-60 {
  border-color: #b81818; }

.u-bg-red-80 {
  background-color: #9e0d0d; }

.u-text-red-80 {
  color: #9e0d0d; }

.u-border-red-80 {
  border-color: #9e0d0d; }

.u-bg-red-90 {
  background-color: #840f0f; }

.u-text-red-90 {
  color: #840f0f; }

.u-border-red-90 {
  border-color: #840f0f; }

.u-bg-yellow-10 {
  background-color: #fef7e2; }

.u-text-yellow-10 {
  color: #fef7e2; }

.u-border-yellow-10 {
  border-color: #fef7e2; }

.u-bg-yellow-60 {
  background-color: #fbc622; }

.u-text-yellow-60 {
  color: #fbc622; }

.u-border-yellow-60 {
  border-color: #fbc622; }

.u-bg-yellow-80 {
  background-color: #fab005; }

.u-text-yellow-80 {
  color: #fab005; }

.u-border-yellow-80 {
  border-color: #fab005; }

.u-bg-yellow-90 {
  background-color: #f08c00; }

.u-text-yellow-90 {
  color: #f08c00; }

.u-border-yellow-90 {
  border-color: #f08c00; }

.u-bg-teal-10 {
  background-color: #d6e6e7; }

.u-text-teal-10 {
  color: #d6e6e7; }

.u-border-teal-10 {
  border-color: #d6e6e7; }

.u-bg-teal-60 {
  background-color: #297e84; }

.u-text-teal-60 {
  color: #297e84; }

.u-border-teal-60 {
  border-color: #297e84; }

.u-bg-teal-80 {
  background-color: #31696d; }

.u-text-teal-80 {
  color: #31696d; }

.u-border-teal-80 {
  border-color: #31696d; }

.u-bg-teal-90 {
  background-color: #305558; }

.u-text-teal-90 {
  color: #305558; }

.u-border-teal-90 {
  border-color: #305558; }

