body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0;
  font-size: 16px; }

img {
  width: 100%; }

code {
  background-color: #F4F4F4;
  padding: 2px; }

li {
  line-height: 2rem; }

.navbar {
  grid-area: header; }

.sidebar {
  grid-area: sidebar; }

.main {
  grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header header header'  'sidebar main main main main main main main';
  grid-gap: 10px;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh; }

.navbar {
  background-color: black;
  color: white;
  padding: 10px; }

.sidebar {
  color: #333;
  border-right: 1px solid #ddd; }

.sidebar__filename,
.sidebar__filename--active {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0; }

.sidebar__filename--active {
  color: teal;
  font-weight: 800; }

.sidebar__category {
  font-size: 24px;
  font-weight: 500;
  color: gray; }

.sidebar__filename:hover,
.sidebar__category:hover {
  cursor: pointer; }

.sidebar__search {
  padding: 1rem 15px; }

.sidebar__search--input {
  box-sizing: border-box;
  height: calc(2.25rem + 2px);
  width: 100%;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ccc;
  font-size: 1rem; }

.main {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.article,
.playground {
  margin: 30px; }

.playground {
  font-size: 18px; }

.playground__wrapper {
  border: 1px solid #eee;
  border-radius: .5rem; }

.playground__preview {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll; }

.filename:hover {
  cursor: pointer; }

.example {
  border: 1px solid #eee;
  border-radius: .5rem;
  padding: 15px 0; }

.example__preview {
  border-bottom: 1px solid #eee;
  padding: 0 15px 15px 15px; }

.example__codeblock {
  padding: 15px 15px 0 15px; }

.swatch {
  display: inline-block;
  width: 150px;
  box-shadow: 0 10px 20px 0 rgba(4, 68, 77, 0.15); }

.swatch__color {
  height: 130px; }

.swatch__info {
  background-color: #fff;
  padding: 10px;
  text-transform: uppercase; }

.swatch__info__name {
  display: block;
  color: #2f3941;
  line-height: 1.66667;
  font-weight: 600;
  font-size: 12px; }

/* Loading icon for fun */
.loading__icon {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px; }

.loading__icon div {
  animation: loading__icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.loading__icon div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px; }

.loading__icon div:nth-child(1) {
  animation-delay: -0.036s; }

.loading__icon div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.loading__icon div:nth-child(2) {
  animation-delay: -0.072s; }

.loading__icon div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.loading__icon div:nth-child(3) {
  animation-delay: -0.108s; }

.loading__icon div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.loading__icon div:nth-child(4) {
  animation-delay: -0.144s; }

.loading__icon div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.loading__icon div:nth-child(5) {
  animation-delay: -0.18s; }

.loading__icon div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.loading__icon div:nth-child(6) {
  animation-delay: -0.216s; }

.loading__icon div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.loading__icon div:nth-child(7) {
  animation-delay: -0.252s; }

.loading__icon div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.loading__icon div:nth-child(8) {
  animation-delay: -0.288s; }

.loading__icon div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes loading__icon {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@-moz-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@-webkit-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }

/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/
.cm-s-material.CodeMirror {
  background-color: #263238;
  color: #e9eded; }

.cm-s-material .CodeMirror-gutters {
  background: #263238;
  color: #537f7e;
  border: none; }

.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber {
  color: #537f7e; }

.cm-s-material .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0; }

.cm-s-material div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15); }

.cm-s-material.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-material .CodeMirror-line::selection, .cm-s-material .CodeMirror-line > span::selection, .cm-s-material .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-material .CodeMirror-line::-moz-selection, .cm-s-material .CodeMirror-line > span::-moz-selection, .cm-s-material .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-material .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0); }

.cm-s-material .cm-keyword {
  color: #c792ea; }

.cm-s-material .cm-operator {
  color: #e9eded; }

.cm-s-material .cm-variable-2 {
  color: #80CBC4; }

.cm-s-material .cm-variable-3, .cm-s-material .cm-type {
  color: #82B1FF; }

.cm-s-material .cm-builtin {
  color: #DECB6B; }

.cm-s-material .cm-atom {
  color: #F77669; }

.cm-s-material .cm-number {
  color: #F77669; }

.cm-s-material .cm-def {
  color: #e9eded; }

.cm-s-material .cm-string {
  color: #C3E88D; }

.cm-s-material .cm-string-2 {
  color: #80CBC4; }

.cm-s-material .cm-comment {
  color: #546E7A; }

.cm-s-material .cm-variable {
  color: #82B1FF; }

.cm-s-material .cm-tag {
  color: #80CBC4; }

.cm-s-material .cm-meta {
  color: #80CBC4; }

.cm-s-material .cm-attribute {
  color: #FFCB6B; }

.cm-s-material .cm-property {
  color: #80CBAE; }

.cm-s-material .cm-qualifier {
  color: #DECB6B; }

.cm-s-material .cm-variable-3, .cm-s-material .cm-type {
  color: #DECB6B; }

.cm-s-material .cm-tag {
  color: #ff5370; }

.cm-s-material .cm-error {
  color: white;
  background-color: #EC5F67; }

.cm-s-material .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important; }

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa; }

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649; }

.hljs-literal {
  color: #0184bb; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f; }

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px transparent; }
  50% {
    box-shadow: 0 0 0 0.875rem rgba(0, 0, 0, 0.1); }
  to {
    box-shadow: 0 0 0 .875rem transparent; } }

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px transparent; }
  50% {
    box-shadow: 0 0 0 0.875rem rgba(0, 0, 0, 0.1); }
  to {
    box-shadow: 0 0 0 .875rem transparent; } }

body {
  margin: 0;
  font-family: -apple-system,blinkmacsystemfont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #262626;
  text-align: left; }

*, :after, :before {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: inherit; }

h1 {
  font-size: 3rem;
  line-height: 1.33; }

h2 {
  font-size: 2.5rem;
  line-height: 1.4; }

h3 {
  font-size: 2rem;
  line-height: 1.5; }

h4 {
  font-size: 1.5rem;
  line-height: 1.67; }

h5 {
  line-height: 1.6; }

h5, h6 {
  font-size: 1.25rem; }

h6 {
  line-height: 1.4; }

.subtitle {
  color: #474747; }

small {
  font-size: .875rem; }

mark {
  padding: 0;
  font-weight: 500;
  background-color: transparent; }

.radio {
  margin: .875rem 0; }

.radio input {
  display: none; }

.radio input:checked + label:before {
  -webkit-animation: ripple .3s linear forwards;
  animation: ripple .3s linear forwards; }

.radio input:checked + label:after {
  -webkit-transform: scale(1);
  transform: scale(1); }

.radio label {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  padding: 0 0 0 1.875rem;
  margin-bottom: 0;
  line-height: 1.25rem;
  cursor: pointer; }

.radio label:after, .radio label:before {
  position: absolute;
  transition: all .3s ease;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform; }

.radio label:before {
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  border: 1px solid #262626;
  border-radius: 50%; }

.radio label:after {
  top: .3125rem;
  left: .3125rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  width: .625rem;
  height: .625rem;
  content: "";
  background-color: #262626;
  border-radius: 50%; }

.checkbox {
  margin: 1rem 0; }

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 1.875rem;
  line-height: 1.25rem;
  cursor: pointer; }

.checkbox label:after, .checkbox label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: ""; }

.checkbox label:before {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  border: 1px solid #262626;
  border-radius: .125rem;
  transition: background .3s; }

.checkbox input {
  display: none; }

.checkbox input:checked + label:before {
  background: #262626;
  border: none;
  -webkit-animation: ripple .3s linear forwards;
  animation: ripple .3s linear forwards; }

.checkbox input:checked + label:after {
  width: .75rem;
  height: .375rem;
  border-color: #fff;
  border-style: none none solid solid;
  border-width: .125rem;
  -webkit-transform: translate(0.25rem, 0.33654rem) rotate(-45deg);
  transform: translate(0.25rem, 0.33654rem) rotate(-45deg); }

.filterCheckbox {
  margin: 1rem 0; }

.filterCheckbox label {
  position: relative;
  display: inline-block;
  padding-left: 1.875rem;
  line-height: 1.25rem;
  cursor: pointer; }

.filterCheckbox label:after, .filterCheckbox label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: ""; }

.filterCheckbox label:after {
  width: .75rem;
  height: .375rem;
  border-color: #dedede;
  border-style: none none solid solid;
  border-width: .125rem;
  -webkit-transform: translate(0.25rem, 0.33654rem) rotate(-45deg);
  transform: translate(0.25rem, 0.33654rem) rotate(-45deg); }

.filterCheckbox input {
  display: none; }

.filterCheckbox input:checked + label:after {
  border-color: #262626; }

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 16px;
  font-size: inherit;
  line-height: 24px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.btn:hover {
  text-decoration: none; }

.btn.focus, .btn:focus {
  outline: 0; }

.btn.is-disabled, .btn:disabled {
  cursor: default; }

.btn--primary {
  color: #f4f4f4;
  background-color: #262626;
  border: 1px solid #262626; }

.btn--primary.hover, .btn--primary:hover {
  background-color: #474747;
  border-color: #474747; }

.btn--primary.active, .btn--primary:active {
  background-color: #000;
  border-color: #000; }

.btn--primary.is-disabled, .btn--primary:disabled {
  color: #737373;
  background: #dedede;
  border-color: #dedede; }

.btn--danger {
  color: #f4f4f4;
  background-color: #b81818;
  border: 1px solid #b81818; }

.btn--danger.hover, .btn--danger:hover {
  background-color: #9e0d0d;
  border-color: #9e0d0d; }

.btn--danger.active, .btn--danger:active {
  background-color: #840f0f;
  border-color: #840f0f; }

.btn--danger.is-disabled, .btn--danger:disabled {
  color: #737373;
  background: #dedede;
  border-color: #dedede; }

.btn--special {
  color: #f4f4f4;
  background-color: #297e84;
  border: 1px solid #297e84; }

.btn--special.hover, .btn--special:hover {
  background-color: #31696d;
  border-color: #31696d; }

.btn--special.active, .btn--special:active {
  background-color: #305558;
  border-color: #305558; }

.btn--special.is-disabled, .btn--special:disabled {
  color: #737373;
  background: #dedede;
  border-color: #dedede; }

.btn--outline {
  color: #262626;
  background-color: transparent;
  border: 1px solid #262626; }

.btn--outline:hover {
  color: #262626;
  background-color: #f4f4f4; }

.btn--outline:active {
  color: #262626;
  background-color: #dedede; }

.btn--outline.is-disabled, .btn--outline:disabled {
  color: #dedede;
  background: transparent;
  border-color: #dedede; }

.btn--invertedOutline {
  color: #f4f4f4;
  background-color: transparent;
  border: 1px solid #f4f4f4; }

.btn--invertedOutline:hover {
  color: #262626;
  background-color: #fff; }

.btn--invertedOutline:active {
  color: #262626;
  background-color: #f4f4f4; }

.btn--invertedOutline.is-disabled, .btn--invertedOutline:disabled {
  color: #dedede;
  background: transparent;
  border-color: #dedede; }

.btn.is-fluid {
  display: block;
  width: 100%;
  text-align: center; }

.btn--link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: #297e84;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer; }

.btn--link:hover {
  color: #31696d; }

.btn--link:active {
  color: #305558; }

.btn--subtle {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: #737373;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer; }

.btn--subtle:hover {
  color: #262626; }

.btn--subtle:active {
  color: #000; }

.tag--general {
  color: #737373;
  background-color: #f4f4f4; }

.tag--general, .tag--success {
  display: inline-block;
  padding: 0 .25rem;
  font-size: .875rem;
  font-weight: 700; }

.tag--success {
  color: #2e8618;
  background-color: #d9f7d2; }

.tag--alert {
  color: #b81818;
  background-color: #fde4e4; }

.tag--alert, .tag--warning {
  display: inline-block;
  padding: 0 .25rem;
  font-size: .875rem;
  font-weight: 700; }

.tag--warning {
  color: #fbc622;
  background-color: #fef7e2; }

.tag--new {
  display: inline-block;
  padding: 0 .25rem;
  font-size: .875rem;
  font-weight: 700;
  color: #297e84;
  background-color: #d6e6e7; }

[data-title] {
  position: relative; }

[data-title]:after, [data-title]:before {
  visibility: hidden; }

[data-title]:before {
  max-width: 100vw;
  padding: .25rem .5rem;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  color: #fff;
  text-align: center;
  content: attr(data-title);
  background-color: #737373;
  border-radius: 2px; }

[data-title]:after, [data-title]:before {
  position: absolute;
  z-index: 1000; }

[data-title][data-placement=top]:before {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -16px);
  transform: translate(-50%, -16px); }

[data-title][data-placement=top]:after {
  bottom: 100%;
  left: calc(50% - 8px);
  content: "";
  border: 8px solid transparent;
  border-top-color: #737373; }

[data-title][data-placement=right]:before {
  top: calc(50% - .75rem);
  left: calc(100% + 16px); }

[data-title][data-placement=right]:after {
  top: calc(50% - 8px);
  left: 100%;
  content: "";
  border: 8px solid transparent;
  border-right-color: #737373; }

[data-title][data-placement=bottom]:before {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 16px);
  transform: translate(-50%, 16px); }

[data-title][data-placement=bottom]:after {
  top: 100%;
  right: calc(50% - 8px);
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #737373; }

[data-title][data-placement=left]:before {
  top: calc(50% - .75rem);
  right: calc(100% + 16px); }

[data-title][data-placement=left]:after {
  top: calc(50% - 8px);
  right: 100%;
  content: "";
  border: 8px solid transparent;
  border-left-color: #737373; }

[data-title]:hover:after, [data-title]:hover:before {
  visibility: visible; }

.u-bg-white {
  background-color: #fff !important; }

.u-text-white {
  color: #fff !important; }

.u-border-white {
  border-color: #fff !important; }

.u-bg-black {
  background-color: #000 !important; }

.u-text-black {
  color: #000 !important; }

.u-border-black {
  border-color: #000 !important; }

.u-bg-grey-100 {
  background-color: #262626 !important; }

.u-text-grey-100 {
  color: #262626 !important; }

.u-border-grey-100 {
  border-color: #262626 !important; }

.u-bg-grey-80 {
  background-color: #474747 !important; }

.u-text-grey-80 {
  color: #474747 !important; }

.u-border-grey-80 {
  border-color: #474747 !important; }

.u-bg-grey-60 {
  background-color: #737373 !important; }

.u-text-grey-60 {
  color: #737373 !important; }

.u-border-grey-60 {
  border-color: #737373 !important; }

.u-bg-grey-20 {
  background-color: #dedede !important; }

.u-text-grey-20 {
  color: #dedede !important; }

.u-border-grey-20 {
  border-color: #dedede !important; }

.u-bg-grey-10 {
  background-color: #f4f4f4 !important; }

.u-text-grey-10 {
  color: #f4f4f4 !important; }

.u-border-grey-10 {
  border-color: #f4f4f4 !important; }

.u-bg-green-10 {
  background-color: #d9f7d2 !important; }

.u-text-green-10 {
  color: #d9f7d2 !important; }

.u-border-green-10 {
  border-color: #d9f7d2 !important; }

.u-bg-green-60 {
  background-color: #2e8618 !important; }

.u-text-green-60 {
  color: #2e8618 !important; }

.u-border-green-60 {
  border-color: #2e8618 !important; }

.u-bg-green-80 {
  background-color: #1d680a !important; }

.u-text-green-80 {
  color: #1d680a !important; }

.u-border-green-80 {
  border-color: #1d680a !important; }

.u-bg-green-90 {
  background-color: #1b510e !important; }

.u-text-green-90 {
  color: #1b510e !important; }

.u-border-green-90 {
  border-color: #1b510e !important; }

.u-bg-red-10 {
  background-color: #fde4e4 !important; }

.u-text-red-10 {
  color: #fde4e4 !important; }

.u-border-red-10 {
  border-color: #fde4e4 !important; }

.u-bg-red-60 {
  background-color: #b81818 !important; }

.u-text-red-60 {
  color: #b81818 !important; }

.u-border-red-60 {
  border-color: #b81818 !important; }

.u-bg-red-80 {
  background-color: #9e0d0d !important; }

.u-text-red-80 {
  color: #9e0d0d !important; }

.u-border-red-80 {
  border-color: #9e0d0d !important; }

.u-bg-red-90 {
  background-color: #840f0f !important; }

.u-text-red-90 {
  color: #840f0f !important; }

.u-border-red-90 {
  border-color: #840f0f !important; }

.u-bg-yellow-10 {
  background-color: #fef7e2 !important; }

.u-text-yellow-10 {
  color: #fef7e2 !important; }

.u-border-yellow-10 {
  border-color: #fef7e2 !important; }

.u-bg-yellow-60 {
  background-color: #fbc622 !important; }

.u-text-yellow-60 {
  color: #fbc622 !important; }

.u-border-yellow-60 {
  border-color: #fbc622 !important; }

.u-bg-yellow-80 {
  background-color: #fab005 !important; }

.u-text-yellow-80 {
  color: #fab005 !important; }

.u-border-yellow-80 {
  border-color: #fab005 !important; }

.u-bg-yellow-90 {
  background-color: #f08c00 !important; }

.u-text-yellow-90 {
  color: #f08c00 !important; }

.u-border-yellow-90 {
  border-color: #f08c00 !important; }

.u-bg-teal-10 {
  background-color: #d6e6e7 !important; }

.u-text-teal-10 {
  color: #d6e6e7 !important; }

.u-border-teal-10 {
  border-color: #d6e6e7 !important; }

.u-bg-teal-60 {
  background-color: #297e84 !important; }

.u-text-teal-60 {
  color: #297e84 !important; }

.u-border-teal-60 {
  border-color: #297e84 !important; }

.u-bg-teal-80 {
  background-color: #31696d !important; }

.u-text-teal-80 {
  color: #31696d !important; }

.u-border-teal-80 {
  border-color: #31696d !important; }

.u-bg-teal-90 {
  background-color: #305558 !important; }

.u-text-teal-90 {
  color: #305558 !important; }

.u-border-teal-90 {
  border-color: #305558 !important; }

.u-margin-xxs {
  margin: 0.25rem !important; }

.u-margin-top-xxs, .u-margin-vertical-xxs {
  margin-top: 0.25rem !important; }

.u-margin-horizontal-xxs, .u-margin-right-xxs {
  margin-right: 0.25rem !important; }

.u-margin-bottom-xxs, .u-margin-vertical-xxs {
  margin-bottom: 0.25rem !important; }

.u-margin-horizontal-xxs, .u-margin-left-xxs {
  margin-left: 0.25rem !important; }

.u-margin-xs {
  margin: 0.5rem !important; }

.u-margin-top-xs, .u-margin-vertical-xs {
  margin-top: 0.5rem !important; }

.u-margin-horizontal-xs, .u-margin-right-xs {
  margin-right: 0.5rem !important; }

.u-margin-bottom-xs, .u-margin-vertical-xs {
  margin-bottom: 0.5rem !important; }

.u-margin-horizontal-xs, .u-margin-left-xs {
  margin-left: 0.5rem !important; }

.u-margin-s {
  margin: 1rem !important; }

.u-margin-top-s, .u-margin-vertical-s {
  margin-top: 1rem !important; }

.u-margin-horizontal-s, .u-margin-right-s {
  margin-right: 1rem !important; }

.u-margin-bottom-s, .u-margin-vertical-s {
  margin-bottom: 1rem !important; }

.u-margin-horizontal-s, .u-margin-left-s {
  margin-left: 1rem !important; }

.u-margin-m {
  margin: 1.5rem !important; }

.u-margin-top-m, .u-margin-vertical-m {
  margin-top: 1.5rem !important; }

.u-margin-horizontal-m, .u-margin-right-m {
  margin-right: 1.5rem !important; }

.u-margin-bottom-m, .u-margin-vertical-m {
  margin-bottom: 1.5rem !important; }

.u-margin-horizontal-m, .u-margin-left-m {
  margin-left: 1.5rem !important; }

.u-margin-l {
  margin: 2rem !important; }

.u-margin-top-l, .u-margin-vertical-l {
  margin-top: 2rem !important; }

.u-margin-horizontal-l, .u-margin-right-l {
  margin-right: 2rem !important; }

.u-margin-bottom-l, .u-margin-vertical-l {
  margin-bottom: 2rem !important; }

.u-margin-horizontal-l, .u-margin-left-l {
  margin-left: 2rem !important; }

.u-margin-xl {
  margin: 2.5rem !important; }

.u-margin-top-xl, .u-margin-vertical-xl {
  margin-top: 2.5rem !important; }

.u-margin-horizontal-xl, .u-margin-right-xl {
  margin-right: 2.5rem !important; }

.u-margin-bottom-xl, .u-margin-vertical-xl {
  margin-bottom: 2.5rem !important; }

.u-margin-horizontal-xl, .u-margin-left-xl {
  margin-left: 2.5rem !important; }

.u-margin-xxl {
  margin: 3rem !important; }

.u-margin-top-xxl, .u-margin-vertical-xxl {
  margin-top: 3rem !important; }

.u-margin-horizontal-xxl, .u-margin-right-xxl {
  margin-right: 3rem !important; }

.u-margin-bottom-xxl, .u-margin-vertical-xxl {
  margin-bottom: 3rem !important; }

.u-margin-horizontal-xxl, .u-margin-left-xxl {
  margin-left: 3rem !important; }

.u-padding-xxs {
  padding: 0.25rem !important; }

.u-padding-top-xxs, .u-padding-vertical-xxs {
  padding-top: 0.25rem !important; }

.u-padding-horizontal-xxs, .u-padding-right-xxs {
  padding-right: 0.25rem !important; }

.u-padding-bottom-xxs, .u-padding-vertical-xxs {
  padding-bottom: 0.25rem !important; }

.u-padding-horizontal-xxs, .u-padding-left-xxs {
  padding-left: 0.25rem !important; }

.u-padding-xs {
  padding: 0.5rem !important; }

.u-padding-top-xs, .u-padding-vertical-xs {
  padding-top: 0.5rem !important; }

.u-padding-horizontal-xs, .u-padding-right-xs {
  padding-right: 0.5rem !important; }

.u-padding-bottom-xs, .u-padding-vertical-xs {
  padding-bottom: 0.5rem !important; }

.u-padding-horizontal-xs, .u-padding-left-xs {
  padding-left: 0.5rem !important; }

.u-padding-s {
  padding: 1rem !important; }

.u-padding-top-s, .u-padding-vertical-s {
  padding-top: 1rem !important; }

.u-padding-horizontal-s, .u-padding-right-s {
  padding-right: 1rem !important; }

.u-padding-bottom-s, .u-padding-vertical-s {
  padding-bottom: 1rem !important; }

.u-padding-horizontal-s, .u-padding-left-s {
  padding-left: 1rem !important; }

.u-padding-m {
  padding: 1.5rem !important; }

.u-padding-top-m, .u-padding-vertical-m {
  padding-top: 1.5rem !important; }

.u-padding-horizontal-m, .u-padding-right-m {
  padding-right: 1.5rem !important; }

.u-padding-bottom-m, .u-padding-vertical-m {
  padding-bottom: 1.5rem !important; }

.u-padding-horizontal-m, .u-padding-left-m {
  padding-left: 1.5rem !important; }

.u-padding-l {
  padding: 2rem !important; }

.u-padding-top-l, .u-padding-vertical-l {
  padding-top: 2rem !important; }

.u-padding-horizontal-l, .u-padding-right-l {
  padding-right: 2rem !important; }

.u-padding-bottom-l, .u-padding-vertical-l {
  padding-bottom: 2rem !important; }

.u-padding-horizontal-l, .u-padding-left-l {
  padding-left: 2rem !important; }

.u-padding-xl {
  padding: 2.5rem !important; }

.u-padding-top-xl, .u-padding-vertical-xl {
  padding-top: 2.5rem !important; }

.u-padding-horizontal-xl, .u-padding-right-xl {
  padding-right: 2.5rem !important; }

.u-padding-bottom-xl, .u-padding-vertical-xl {
  padding-bottom: 2.5rem !important; }

.u-padding-horizontal-xl, .u-padding-left-xl {
  padding-left: 2.5rem !important; }

.u-padding-xxl {
  padding: 3rem !important; }

.u-padding-top-xxl, .u-padding-vertical-xxl {
  padding-top: 3rem !important; }

.u-padding-horizontal-xxl, .u-padding-right-xxl {
  padding-right: 3rem !important; }

.u-padding-bottom-xxl, .u-padding-vertical-xxl {
  padding-bottom: 3rem !important; }

.u-padding-horizontal-xxl, .u-padding-left-xxl {
  padding-left: 3rem !important; }

.u-margin-auto {
  margin: auto !important; }

.u-margin-top-auto, .u-margin-vertical-auto {
  margin-top: auto !important; }

.u-margin-horizontal-auto, .u-margin-right-auto {
  margin-right: auto !important; }

.u-margin-bottom-auto, .u-margin-vertical-auto {
  margin-bottom: auto !important; }

.u-margin-horizontal-auto, .u-margin-left-auto {
  margin-left: auto !important; }

.u-text-left {
  text-align: left !important; }

.u-text-center {
  text-align: center !important; }

.u-text-right {
  text-align: right !important; }

.u-text-lowercase {
  text-transform: lowercase !important; }

.u-text-uppercase {
  text-transform: uppercase !important; }

.u-text-capitalize {
  text-transform: capitalize !important; }

.u-font-weight-regular {
  font-weight: 400 !important; }

.u-font-weight-medium {
  font-weight: 500 !important; }

.u-font-weight-bold {
  font-weight: 700 !important; }

.u-font-italic {
  font-style: italic !important; }

.u-text-small {
  font-size: .875rem; }

.u-text-micro {
  font-size: .75rem; }

.u-text-urgent {
  font-weight: 500;
  color: #b81818; }

.u-text-positive {
  font-weight: 500;
  color: #2e8618; }

