---
layout: page
title: Shop in Shop
---
<h1 id="sis-1-section-heading" class="styleguide">Section Heading</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-full txtCenter">
  <div class="cms-sis-section-heading">
    What's Trending
  </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-full txtCenter"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sis-section-heading"</span><span class="nt">&gt;</span>
    What's Trending
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sis-2-about-section" class="styleguide">About Section</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-container">
    <div class="cms-row">
        <div class="cms-full txtCenter">
            <div class="cms-sis-section-heading">
                About
            </div>
            <div class="cms-spacer-25"></div>
        </div>
        <div class="cms-full">
            <div class="cms-video-floater">
                <iframe width="620" height="349" src="https://www.youtube.com/embed/rVfzW2v-7MA?feature=player_embedded&amp;autoplay=0&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;color=white&amp;theme=light&amp;iv_load_policy=3" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="cms-video-text-floater">
                <div class="cms-about-text">
                    Topman is at forefront of menswear, discovering new trends and offering innovative styling in
                    everything from skinny jeans to leather jackets to three piece suits. London, New York, LA,
                    Hong Kong and more, the Topman brand is stamping its style authority on major cities
                    around the world and online, and is now proud to be at ZALORA.
                </div>
            </div>
        </div>
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-row"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-full txtCenter"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sis-section-heading"</span><span class="nt">&gt;</span>
                About
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-spacer-25"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-full"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-video-floater"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;iframe</span> <span class="na">width=</span><span class="s">"620"</span> <span class="na">height=</span><span class="s">"349"</span> <span class="na">src=</span><span class="s">"https://www.youtube.com/embed/rVfzW2v-7MA?feature=player_embedded&amp;amp;autoplay=0&amp;amp;controls=0&amp;amp;modestbranding=1&amp;amp;rel=0&amp;amp;showinfo=0&amp;amp;autohide=1&amp;amp;color=white&amp;amp;theme=light&amp;amp;iv_load_policy=3"</span> <span class="na">frameborder=</span><span class="s">"0"</span> <span class="na">allowfullscreen=</span><span class="s">""</span><span class="nt">&gt;&lt;/iframe&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-video-text-floater"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-about-text"</span><span class="nt">&gt;</span>
                    Topman is at forefront of menswear, discovering new trends and offering innovative styling in
                    everything from skinny jeans to leather jackets to three piece suits. London, New York, LA,
                    Hong Kong and more, the Topman brand is stamping its style authority on major cities
                    around the world and online, and is now proud to be at ZALORA.
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
