---
layout: page
title: Skinny Banners
---
<h1 id="sb-1-full-width-skinny" class="styleguide">Full Width Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full txtCenter cms-animate">
    <div class="cms-sb-text">
        <span class="cms-sb-highlight">X Jul 2015 - X Aug 2015</span>
        Fashion Fever Week: The Ultimate Summer Savings
        <span class="cms-sb-highlight">Up to 70% OFF!</span>
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cms-sb-highlight"</span><span class="nt">&gt;</span>X Jul 2015 - X Aug 2015<span class="nt">&lt;/span&gt;</span>
        Fashion Fever Week: The Ultimate Summer Savings
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cms-sb-highlight"</span><span class="nt">&gt;</span>Up to 70% OFF!<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-2-half-width-skinny" class="styleguide">Half Skinnies</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-container">
    <div class="cms-sb-half-left txtCenter cms-animate">
        <div class="cms-sb-text">
            <span class="cms-sb-highlight">TOPSHOP IS NOW ON ZALORA &gt;</span>
        </div>
    </div>

    <div class="cms-sb-half-right txtCenter cms-animate">
        <div class="cms-sb-text">
            TOPMAN IS NOW ON ZALORA &gt;
        </div>
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-half-left txtCenter cms-animate"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cms-sb-highlight"</span><span class="nt">&gt;</span>TOPSHOP IS NOW ON ZALORA <span class="ni">&amp;gt;</span><span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-half-right txtCenter cms-animate"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
            TOPMAN IS NOW ON ZALORA <span class="ni">&amp;gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-aluminium" class="styleguide">Aluminium Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-aluminium txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-aluminium txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-blush" class="styleguide">Blush Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-blush txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-blush txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-cottoncandy" class="styleguide">Cotton Candy Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-cottoncandy txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-cottoncandy txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-heather" class="styleguide">Heather Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-heather txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-heather txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-lilac" class="styleguide">Lilac Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-lilac txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-lilac txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-mint" class="styleguide">Mint Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-mint txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-mint txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-pine" class="styleguide">Pine Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-pine txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-pine txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-powderblue" class="styleguide">Powder Blue Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-powderblue txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-powderblue txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-rose" class="styleguide">Rose Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-rose txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-rose txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-rosewood" class="styleguide">Rosewood Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-rosewood txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-rosewood txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-salmon" class="styleguide">Salmon Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-salmon txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-salmon txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-skyblue" class="styleguide">Sky Blue Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-skyblue txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-skyblue txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="sb-3-full-width-skinny-storm" class="styleguide">Storm Skinny</h1>
<div class="codeExample">
  <div class="exampleOutput">
    <div class="cms-sb-full cms-sb-storm txtCenter cms-animate">
    <div class="cms-sb-text">
        12:12 Overload your carts now
    </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-full cms-sb-storm txtCenter cms-animate"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cms-sb-text"</span><span class="nt">&gt;</span>
        12:12 Overload your carts now
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
