/* General Styles Start */


/*doc
---
title: Example
name: example
category: Segment Page
---

This is some text that goes along with your html example. Blabla.

```html_example
<p class="hi">Whatever kinda stuff here</p>
```
*/

.cms-container {
    width: 996px;
    margin: 0 auto;
}
.cms-row {
    margin-left: 0;
    margin-right: 0
}

.cms-full {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    float: left;
    width: 100%
}

/* Regional Banners Grid */
.cms-spacer-grid {
    margin-left: 16px;
}
.cms-spacer-3grid {
    margin-left: 15px;
}

/* Divider Styles */
.cms-spacer-15 {
    width: 100%;
    height: 15px
}
.cms-spacer-25 {
    width: 100%;
    height: 25px
}
.cms-spacer-35 {
    width: 100%;
    height: 35px
}

/* Text Utility Styles */
.cms-text-ls-1 {
    letter-spacing: 1px;
}
.cms-text-ls-2 {
    letter-spacing: 2px;
}
.cms-text-ls-4 {
    letter-spacing: 4px;
}
/* Animation */
.cms-animate {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* General Styles End */

/* SIS Specific Styles */
.cms-sis-section-heading {
    display: block;
    padding-bottom: 3px;

    font-family: "Apercu", arial, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    border-bottom: 1px solid #000;
}

/* Segment Page Specific Styles */
.cms-section-heading {
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 1px solid #000;

    font-family: "Apercu", arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

// S1 S2 Sub Heading
.cms-sub-heading {
    font-family: "Apercu", arial, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

// Baskerville Heading
.cms-baskerville-heading {
    font-size: 22px;
    font-family: "Baskerville", Garamond, Times, Serif;
    line-height: 1.4em;
    font-style: italic;
}

/* Hero Banner with Gender CTA's */
.cms-half {
    float: left;
    position:relative;
    min-height:1px;
    padding-left:0;
    padding-right:0;
    width:50%
}
.cms-unisex-banner {
    width:996px;
    height:500px
}
.cms-banner-lhs {
    width:498px;
    padding-top:212px;
    padding-left: 0;
    height:288px
}
.cms-banner-rhs {
    width:498px;
    padding-top:212px;
    padding-right: 0;
    height:288px
}
.cms-hero-cta:hover {
    background:#000;
    color:#fff
}
.cms-half:hover {
    cursor:pointer
}
.cms-half:hover .cms-hero-cta {
    background:#000;
    color:#fff
}

/* Skinny Banner */

// Full Width Skinny
.cms-sb-text{
    font-size: 13px;
    line-height: 2em;
}
.cms-sb-full {
    width: 936px;
    padding: 5px 30px;
    height: 26px;

    background: #ffab86;
}
.cms-sb-full-tooltip{
    position: absolute;
    z-index: 2;
    margin-left: 240px;
    margin-top: 46px;
    padding: 15px 20px;

    width: 456px;
    height: auto;
    background: #cccccc;

    font-size: 12px;
    display: none;
}
.cms-sb-full-tooltip-arrow{
    position: absolute;
    z-index: 2;
    margin-left: 480px;
    margin-top: 36px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 13px solid #ccc;

    display: none;
}
.cms-sb-full:hover{
    cursor: pointer;
    opacity: 0.8;
}
.cms-sb-highlight{
    color: #fff;
}

// Half Skinnies
.cms-sb-half-left:hover{
    cursor: pointer;
    opacity: 0.8;
}
.cms-sb-half-right:hover{
    cursor: pointer;
    opacity: 0.8;
}
.cms-sb-container {
    float: left;
    width: 996px;
}
.cms-sb-half-left {
    float: left;
    padding: 5px 30px;

    width: 436px;
    height: 26px;

    background: #c06e8c; /* Allowed to change */
}
.cms-sb-half-right {
    float: left;
    margin-left: 4px;
    padding: 5px 30px;

    width: 436px;
    height: 26px;

    background: #9bb5d6; /* Allowed to change */
}
.cms-sb-highlight {
    color: #fff; /* Allowed to change */
}

/* Cross Catalog Banners */
.cms-ccb {
    position: relative;
    height: auto;
    width: 786px;
    /*border: 1px solid #ccc;*/
}

.cms-ccb .cms-ccb-lhs {
    width: 598px;
    /*background: #00ff00;*/
    background: url("http://static01-ec-sg.zalora.com/cms/Redesign_Catalogpage/Women/women_clothing.jpg");
    height: 234px;
}

.cms-ccb .cms-ccb-inner-left {
    position: absolute;
    width:310px;
    left: 22px;
    bottom: 22px;
    font-family:"Apercu", arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.cms-ccb .cms-ccb-h1 {
    height: 50px;
    font-family: "Apercu", arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 11px;
    letter-spacing: 4px;
    padding-left: 22px;
    padding-top: 28px;
    padding-bottom: 82px;
    text-transform: uppercase;
}

.cms-ccb .cms-ccb-inner-right {
    position: absolute;
    right: 0px;
    top:0px;
    width: 188px;
    height: 234px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: "Apercu", arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    display: table;
    letter-spacing: 1px;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    cursor:pointer;
    text-align: center;
    line-height: 20px;
}

.cms-ccb .cms-ccb-inner-right:hover {
    position: absolute;
    width: 188px;
    height: 234px;
    background: #777;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Apercu", arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    display: table;
    text-align: center;
    right: 0px;
    top:0px;

}

.cms-ccb .cms-ccb-inner-right span {
    display: table-cell;
    vertical-align: middle;
}

.cms-ccb .special-text {
    display: inline;
    color: #61f9ff;
}

.cms-ccb .cms-ccb-inner-right:hover span .special-text {
    display: inline;
    color: #fff;
}

.cms-ccb .cms-ccb-inner-right-cta{
    margin-top:20px;
    font-family: "Gill Sans MT", Gill Sans, Futura, Century Gothic, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align:center;
}

.cms-ccb .cms-ccb-inner-right-cta-border{
    margin-top:2px;
    border-top:1px solid #fff;
    width:109px;
    margin-left: 38px;
}

.cms-ccb .cms-ccb-inner-right-cta a{
    color:#fff;
}

.cms-ccb .cms-ccb-inner-right:hover span .cms-ccb-inner-right-cta-border {
    margin-top:2px;
    border-top:1px solid #fff;
    width:109px;
    margin-left: 38px;
}
.cms-ccb .cms-ccb-inner-left a {
    border-bottom: 1px solid #000;
}

.cms-ccb .cms-ccb-inner-left a:hover {
    border-bottom: none;
}
