<div class="codeExample">
    <div class="exampleOutputMobile">
        <%= rendered_example %>
    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><%= code_example %></pre>
        </div>
    </div>
</div>
