//-------------------------------------
// Landing Page
//-------------------------------------

body.homepage .page-content__wrapper.pal {
    padding: 0;
}

.hero-stage {
    background-image: url(/assets/images/hero-small.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 45%;
    padding-bottom: 15%;

    h1 {
        color: $colorLightPrimary;
        text-shadow: 0 1px 1px rgba(black, .3);
        padding: 10px;
        padding-top: 5px;

        @include media($break-medium) {
            font-size: 2em;
            margin-left: 0;
            background-color: transparent;
            padding: 0;
        }
    }

    @include media($break-big) {
        background-image: url(/assets/images/hero-large.jpg);
        padding-top: 35%;

        h1 {
            font-size: 3em;
            max-width: 60%;
        }
    }

    @include media($break-large) {
        padding-top: 15%;

        h1 {
            font-size: 4em;
            margin-left: 7%;
        }
    }

    @include media-height(800px) {
        padding-top: 25%;
    }
}

// Quick nav
.quick-nav {
    padding-top: $spaceXLarge;

    h2 {
        position: relative;
        top: -$spaceMedium;
    }

    .quick-nav__box {
        margin-bottom: $spaceLarge;

        span {
            transition: border-color .2s;
            color: $colorHighlightPositive;
            border-bottom: 3px solid;
            border-color: transparent;
        }

        & > a {
            &:hover {
                text-decoration: none;

                span {
                    border-color: $colorHighlightPositive;
                }
            }
        }

        @include media($break-large) {
            text-align: center;
            padding: $spaceLarge;
            box-sizing: border-box;
            margin-bottom: 0;

            figure {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            span { font-size: $fontsizeXXXL }
        }
    }

    .quick-nav__icon {
        width: 70px;
        height: 70px;
        margin-right: $spaceMedium;

        svg {
            fill: none;
            stroke: $colorDarkPrimary;
            stroke-width: 2;
        }

        @include media($break-large) {
            width: 120px;
            height: 120px;
            margin-right: 0;
            margin-bottom: $spaceLarge;
        }
    }
}

.quick-nav__box {
    img {
        margin-right: $spaceMedium;
    }

    span {
        font-size: $fontsizeXL;
    }
}

// Mission statement
.mission-statement {
    background-color: $colorDarkTertiary;
    color: $colorLightPrimary;

    .mission-statement__content {
        h1 { margin: $spaceXLarge 0 }

        @include media($break-big) {
            padding-left: $spaceXLarge;

            h1 { font-size: 3em }
        }
    }
}
