//-------------------------------------
// Landing Page
//-------------------------------------

// Quick nav
.quick-nav {
    padding: $spaceLarge;

    @include media($break-big) { padding: $spaceXLarge }

    .quick-nav__box {
        margin-bottom: $spaceLarge;

        @include media($break-large) {
            text-align: center;
            padding: $spaceLarge;
        }

        img { margin-right: $spaceMedium }

        span { font-size: $fontsizeXL }

        .btn { min-width: 140px }
    }

    .quick-nav__icon {
        width: 70px;
        height: 70px;
        margin-right: $spaceMedium;

        @include media($break-large) {
            width: 120px;
            height: 120px;
            display: block;
            margin-bottom: $spaceXLarge;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Mission statement
.mission-statement {
    background-color: $colorDarkTertiary;
    color: $colorLightPrimary;
    padding: $spaceLarge;

    @include media($break-big) {
        padding: $spaceXLarge;
    }

    .mission-statement__content {
        h1 { margin: $spaceXLarge 0 }

        @include media($break-big) {
            padding-left: $spaceXLarge;

            h1 { font-size: 3em }
        }
    }
}
