//-------------------------------------
// Styles for all sub-pages
//-------------------------------------
.page__header {
    // background-color: $colorHighlightPositiveReduct;
    background-image: radial-gradient(ellipse at top right, lighten($colorHighlightPositiveReduct, 7%) 0%, $colorHighlightPositiveReduct 100%);
    .page__header__title {
        margin: $spaceXLarge 0;
        text-transform: uppercase;
        @include media($break-large) {
            margin-top: $spaceXLarge * 3;
            font-size: 3em;
            color: white;
            text-shadow: 0 1px 1px rgba(black, .3);
        }
    }
}

.page__header,
.page__content {
    padding: $spaceLarge;
    @include media($break-big) {
        padding: $spaceXLarge;
    }

    h2 {
        @include media($break-big) {
            font-size: 3em;
            &:not(:first-of-type) { margin-top: 4em }
        }
    }

    h3 {
        @include media($break-big) {
            font-size: 2em;
            margin-top: 3em;
        }
    }

    img {
        margin-top: $spaceLarge;
        margin-bottom: $spaceLarge;
        max-width: 100%;

        @include media($break-big) {
            margin-top: $spaceXLarge;
            margin-bottom: $spaceXLarge;
        }
    }

    p {
        @include media($break-large) {
            max-width: 70%;

            &:not(.in-column).has-image { max-width: 100% }

            &.image-container {
                box-sizing: border-box;
                padding: $spaceXLarge * 2;
                border: 1px solid $colorLightSecondary;

                img { margin: 0 }
            }
        }
    }
}
