//-------------------------------------
// Styles for all sub-pages
//-------------------------------------
.page__header {

}

.page__header,
.page__content {
    padding: $spaceLarge;

    @include media($break-big) {
        padding: $spaceXLarge;
    }

    h1,
    h2 {
        font-weight: 700;
    }

    h1 {
        font-size: 3em;
        @include media($break-big) { font-size: 4em }
    }

    h2,
    h1.styleguide { // h1.styleguide is in here, because Hologram renders example headlines as <h1> and not <h2>
        font-size: 2em;
        @include media($break-big) { font-size: 2.8em }
    }

    h3 {
        font-size: 1.4em;
        margin-top: 2em;
        @include media($break-big) { font-size: 2em }
    }

    h1, h2 {
        &:first-of-type       {
            margin-top: 0;
            margin-bottom: .5em;
        }

        &:not(:first-of-type) { margin-top: 2em }

        @include media($break-big) {
            &:not(:first-of-type) { margin-top: 3em }
        }
    }

    img {
        margin-top: $spaceLarge;
        margin-bottom: $spaceLarge;
        max-width: 100%;

        @include media($break-big) {
            margin-top: $spaceXLarge;
            margin-bottom: $spaceXLarge;
        }
    }

    p {
        @include media($break-large) {
            // max-width: 70%;

            // &:not(.in-column).has-image { max-width: 100% }
        }
    }

    .example-container {
        box-sizing: border-box;
        padding: $spaceMedium;
        border: 1px solid $colorMedium;
        margin-top: $spaceXLarge;
        margin-bottom: $spaceXXLarge;

        img { margin: 0 }

        @include media($break-big) {
            padding: $spaceXLarge;

            &.max-half { max-width: 50% }
            &.max-third { max-width: 33.333% }
        }
    }

    blockquote {
        position: relative;
        font-weight: 700;
        font-size: 1.2em;
        margin-left: 0;
        padding-left: 1em;
        border-left: 1px solid $colorMedium;
    }

    .pictogram-list {
        @include clearfix;
        list-style: none;
        padding-left: 0;

        li {
            float: left;
            width: calc(33.3333% - 10px);
            height: 60px;
            padding-top: 100%;
            position: relative;
            box-sizing: border-box;
            padding: $spaceMedium;
            border: 1px solid $colorMedium;
            margin-right: 10px;
            margin-bottom: 10px;

            @include media($break-big) {
                width: calc(16.6% - 10px);
                height: 100px;
                padding: $spaceXLarge;
            }

            img {
                @include transform(translateY(-50%));
                position: absolute;
                top: 50%;
                max-height: 70%;
                max-width: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .example-good,
    .example-bad {
        list-style: none;
        padding-left: 0;

        li {
            padding-left: $spaceLarge + 10px;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            margin-bottom: $spaceMedium;
        }
    }

    .example-good {
        li { background-image: url(/assets/images/icon_check.svg) }
        em { color: $colorHighlightPositive }
    }

    .example-bad {
        li {
            background-image: url(/assets/images/icon_error.svg);
            background-size: 18px 18px;
        }
        em { color: $colorHighlightNegative }
    }
}
