//-------------------------------------
// Header
//-------------------------------------

header {
    @include clearfix;
    background-color: $colorDarkPrimary;

    .header-wrapper {
        padding-left: $spaceLarge;
        padding-right: $spaceLarge;
    }
}

.logo {
    width: 151px;
    height: 21px;
    fill: $colorLightPrimary;
}

.tagline { color: $colorHighlightPositive }

