//-------------------------------------
// Header
//-------------------------------------

header {
    @include clearfix;

    @include media($break-large) {
        margin-top: 20px;
    }

    .header-wrapper {
        background-color: $colorDarkPrimary;

        @include media($break-large) {
            width: 80%;
            float: right;
            box-sizing: border-box;
        }
    }
}

.logo {
    width: 151px;
    height: 21px;
    fill: $colorLightPrimary;
}

.tagline { color: $colorHighlightPositive }

