//-------------------------------------
// Navigation
//-------------------------------------

.site-nav {
    width: 90%;
    position: absolute;
    left: 100%;
}

.page-mover {
    -webkit-transition: -webkit-transform .5s;
            transition: transform .5s;

    &.moved {
        -webkit-transform: translateX(-90%);
                transform: translateX(-90%);
    }
}
