//-------------------------------------
// Navigation
//-------------------------------------

#menu-icon {
    padding: 10px;
    width: 20px;
    height: 22px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -10px;

    svg {
        fill: $colorLightPrimary;
    }

    @include media($break-big) {
        display: none;
    }
}

.site-nav {
    display: none;
    width: 80%;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: $spaceLarge;
    box-sizing: border-box;
    background-color: $colorLightSecondary;

    &.showing { display: block }

    @include media($break-big) {
        height: auto;
        overflow-y: auto;
        overflow: visible;
        position: relative;
        left: auto;
        display: block;
        padding-top: $spaceXLarge;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 100%;
            display: block;
            width: 100%;
            height: 100%;
            background-color: $colorLightSecondary;
        }
    }

    @include media($break-large) {
        min-height: 40vh;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    li {
        margin-bottom: $spaceLarge;
        text-transform: uppercase;
        padding-top: $spaceSmall;
        padding-bottom: $spaceSmall;
        line-height: 1;
        font-weight: 700;

        ul {
            margin-top: $spaceSmall;

            li {
                font-weight: 400;
                margin-bottom: 0;
                padding-left: $spaceMedium;
                text-transform: none;

                ul {
                    li {
                        font-size: $fontsizeS;
                    }
                }
            }
        }
    }

    a {
        display: inline-block;
        &.active { color: $colorHighlightPositiveOnDark }
    }
}

.page-mover {
    -webkit-transition: -webkit-transform .5s;
            transition: transform .5s;
    width: 100vw;

    &.moved {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        position: fixed;
    }

    @include media($break-big) {
        position: relative;
        width: auto;
    }
}

// Put navigation and content side by side from big screens on
@include media($break-big) {
    .include-header-space
        display: table;
        table-layout: fixed;
    }

    .site-nav,
    .page-content {
        display: table-cell;
        vertical-align: top;
    }

    .site-nav     { width: 20% }
    .page-content { width: 80% }
}

