//-------------------------------------
// Navigation
//-------------------------------------

.site-nav {
    display: none;
    width: 80%;
    position: absolute;
    left: 100%;

    &.showing { display: block }
}

.page-mover {
    -webkit-transition: -webkit-transform .5s;
            transition: transform .5s;
    &.moved {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        position: fixed;
    }
}
