//-------------------------------------
// Shared styles for the whole page
//-------------------------------------

body {
    width: 100vw;
    overflow-x: hidden;
}

@include media($break-large) {
    .page-width-container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

.svg-asset {
    width: 100%;
    height: 100%;
}

.include-header-space {
    padding-top: 56px;
}

.page-content {
    margin-bottom: 100px;
}

/* Image with think border */
img {
    &.has-border {
        border: 8px solid $colorLightPrimary;
        box-sizing: border-box;
    }
}

//-------------------------------------
// Tiny responsive grid
//
// not using global/_ui.scss because that's not yet responsive
//-------------------------------------

.grid {
    @include clearfix;
}

.grid__col {
    float: left;
    box-sizing: border-box;

    img { max-width: 100% }

    &.grid__col--narrow {
        width: 100%;

        @include media($break-medium) { width: 50% }
        @include media($break-big) { width: 25% }
    }

    &.grid__col--thirds {
        width: 100%;

        @include media($break-big) { width: 33% }
    }

    &.grid__col--twos {
        width: 100%;

        @include media($break-big) { width: 50% }
    }

    &.grid__col--full { width: 100% }
}
