//-------------------------------------
// Shared styles for the whole page
//-------------------------------------

body {
    width: 100vw;
    overflow-x: hidden;
}

.svg-asset {
    width: 100%;
    height: 100%;
}
