//-------------------------------------
// Zalora styleguide project
//
// Manifest
//-------------------------------------

// Breakpoints
$break-medium: 481px;
$break-big: 769px;
$break-large: 1025px;

// Get variables from global to be used
// in styleguide locally
@import "../global/variables";
@import "../global/mixins";

// Import partials for different areas
// of the site
@import
    "fonts",
    "shared",
    "header",
    "navigation",
    "footer",
    "syntax-highlighting";

// Import styles for individual pages
@import
    "pages/page",
    "pages/colours",
    "pages/home",
    "pages/mobile",
    "pages/code";
