body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0;
  font-size: 16px;
}


.navbar { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header' 
    'sidebar main main main main main main main';
  grid-gap: 10px;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
}

.sidebar {
  color: #333;
  border-right: 1px solid #ddd;
}

.sidebar__filename,
.sidebar__filename--active {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
}

.sidebar__filename--active {
  color: teal;
  font-weight: 800;
}

.sidebar__category {
  font-size: 24px;
  font-weight: 500;
  color: gray;
}

.sidebar__filename:hover, 
.sidebar__category:hover{
  cursor: pointer;
}

.sidebar__search{
  padding: 1rem 15px;
}
.sidebar__search--input {
  box-sizing: border-box;
  height: calc(2.25rem + 2px);
  width: 100%;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.article,
.playground {
  margin: 30px;
}

.playground {
  font-size: 18px;
}

.playground__wrapper {
  border: 1px solid #eee;
  border-radius: .5rem;
}

.playground__preview {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.filename:hover {
  cursor: pointer;
}

.example {
  border: 1px solid #eee;
  border-radius: .5rem;
  padding: 15px 0;
}

.example__preview {
  border-bottom: 1px solid #eee;
  padding: 0 15px 15px 15px;
}

.example__codeblock {
  padding: 15px 15px 0 15px;
}


/* Loading icon for fun */

.loading__icon {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
}
.loading__icon div {
  animation: loading__icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.loading__icon div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.loading__icon div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading__icon div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.loading__icon div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading__icon div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.loading__icon div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading__icon div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.loading__icon div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading__icon div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.loading__icon div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading__icon div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.loading__icon div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading__icon div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.loading__icon div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading__icon div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.loading__icon div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading__icon div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes loading__icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}