/* Media queries */
/* Keyframes & Animation*/
@font-face {
  font-family: 'Apercu';
  src: url("../../fonts/apercu_regular-webfont.eot");
  src: url("../../fonts/apercu_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/apercu_regular-webfont.woff2") format("woff2"), url("../../fonts/apercu_regular-webfont.woff") format("woff"), url("../../fonts/apercu_regular-webfont.ttf") format("truetype"), url("../../fonts/apercu_regular-webfont.svg#apercuregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Apercu';
  src: url("../../fonts/apercu_bold-webfont.eot");
  src: url("../../fonts/apercu_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/apercu_bold-webfont.woff2") format("woff2"), url("../../fonts/apercu_bold-webfont.woff") format("woff"), url("../../fonts/apercu_bold-webfont.ttf") format("truetype"), url("../../fonts/apercu_bold-webfont.svg#apercubold") format("svg");
  font-weight: 700;
  font-style: normal; }

body {
  width: 100vw;
  overflow-x: hidden; }

@media screen and (min-width: 1025px) {
  .page-mover {
    max-width: 1200px;
    margin: 0 auto; } }

.svg-asset {
  width: 100%;
  height: 100%; }

.page-content {
  margin-bottom: 100px; }

/* Image with think border */
img.has-border {
  border: 8px solid #fff;
  box-sizing: border-box; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid__col {
  float: left;
  box-sizing: border-box; }
  .grid__col img {
    max-width: 100%; }
  .grid__col.grid__col--narrow {
    width: 100%; }
    @media screen and (min-width: 481px) {
      .grid__col.grid__col--narrow {
        width: 50%; } }
    @media screen and (min-width: 769px) {
      .grid__col.grid__col--narrow {
        width: 25%; } }
  .grid__col.grid__col--thirds {
    width: 100%; }
    @media screen and (min-width: 769px) {
      .grid__col.grid__col--thirds {
        width: 33%; } }
  .grid__col.grid__col--twos {
    width: 100%; }
    @media screen and (min-width: 769px) {
      .grid__col.grid__col--twos {
        width: 50%; } }
  .grid__col.grid__col--full {
    width: 100%; }

header:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 1025px) {
  header {
    margin-top: 20px; } }

header .header-wrapper {
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 769px) {
    header .header-wrapper {
      padding-left: 40px;
      padding-right: 40px; } }
  @media screen and (min-width: 1025px) {
    header .header-wrapper {
      width: 80%;
      float: right;
      box-sizing: border-box; } }

.logo {
  width: 151px;
  height: 21px;
  fill: #fff; }

.tagline {
  color: #00c8b4; }

#menu-icon {
  padding: 10px;
  width: 20px;
  height: 22px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: -10px; }
  #menu-icon svg {
    fill: #fff; }
  @media screen and (min-width: 769px) {
    #menu-icon {
      display: none; } }

.site-nav {
  display: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #E6E6E6; }
  .site-nav.showing {
    display: block; }
  @media screen and (min-width: 769px) {
    .site-nav {
      position: relative;
      left: auto;
      display: block;
      border-left: 1px solid #E6E6E6;
      background-color: transparent; } }
  @media screen and (min-width: 1025px) {
    .site-nav {
      position: fixed;
      top: 100px;
      min-height: 40vh; } }
  .site-nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .site-nav > ul > li {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 1.3; }
    .site-nav > ul > li:first-of-type {
      margin-bottom: 0; }
    .site-nav > ul > li > a {
      margin-bottom: 20px; }
    .site-nav > ul > li > ul a {
      margin-bottom: 5px; }
    .site-nav > ul > li > ul > li {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: .1em; }
      .site-nav > ul > li > ul > li > ul > li {
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: .07em; }
  .site-nav a {
    display: inline-block; }
    .site-nav a.active {
      color: #00c8b4; }

.page-mover {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }
  .page-mover.moved {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
    position: fixed; }
  @media screen and (min-width: 769px) {
    .page-mover {
      position: relative; } }

@media screen and (min-width: 769px) {
  .site-nav,
  .page-content {
    float: left;
    box-sizing: border-box; }
  .site-nav {
    width: 25%; }
  .page-content {
    width: 75%; } }

@media screen and (min-width: 1025px) {
  .site-nav {
    width: 180px; }
  .page-content,
  footer {
    margin-left: 20%;
    width: 80%; } }

footer {
  clear: left;
  background-color: #E6E6E6;
  min-height: 100px;
  box-sizing: border-box;
  min-height: 200px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.page__header {
  background-image: radial-gradient(ellipse at top right, #e7f6f4 0%, #cdece9 100%); }
  .page__header .page__header__title {
    margin: 40px 0;
    text-transform: uppercase; }
    @media screen and (min-width: 1025px) {
      .page__header .page__header__title {
        margin-top: 120px;
        font-size: 3em;
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); } }

.page__header,
.page__content {
  padding: 20px; }
  @media screen and (min-width: 769px) {
    .page__header,
    .page__content {
      padding: 40px; } }

body.homepage .page-content__wrapper.pal {
  padding: 0; }

.hero-stage {
  background-image: url(/assets/images/hero-small.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 45%;
  padding-bottom: 15%; }
  .hero-stage h1 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-top: 5px; }
    @media screen and (min-width: 481px) {
      .hero-stage h1 {
        font-size: 2em;
        margin-left: 0;
        background-color: transparent;
        padding: 0; } }
  @media screen and (min-width: 769px) {
    .hero-stage {
      background-image: url(/assets/images/hero-large.jpg);
      padding-top: 35%; }
      .hero-stage h1 {
        font-size: 3em;
        max-width: 60%; } }
  @media screen and (min-width: 1025px) {
    .hero-stage {
      padding-top: 15%; }
      .hero-stage h1 {
        font-size: 4em;
        margin-left: 7%; } }
  @media screen and (min-height: 800px) {
    .hero-stage {
      padding-top: 25%; } }

.quick-nav {
  padding-top: 40px; }
  .quick-nav h2 {
    position: relative;
    top: -12px; }
  .quick-nav .quick-nav__box {
    margin-bottom: 20px; }
    @media screen and (min-width: 1025px) {
      .quick-nav .quick-nav__box {
        text-align: center;
        padding: 20px; } }
  .quick-nav .quick-nav__icon {
    width: 70px;
    height: 70px;
    margin-right: 12px; }
    @media screen and (min-width: 1025px) {
      .quick-nav .quick-nav__icon {
        width: 120px;
        height: 120px;
        display: block;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto; } }

.quick-nav__box img {
  margin-right: 12px; }

.quick-nav__box span {
  font-size: 18px; }

.mission-statement {
  background-color: #6d6e6e;
  color: #fff; }
  .mission-statement .mission-statement__content h1 {
    margin: 40px 0; }
  @media screen and (min-width: 769px) {
    .mission-statement .mission-statement__content {
      padding-left: 40px; }
      .mission-statement .mission-statement__content h1 {
        font-size: 3em; } }
