/* Media queries */
/* Keyframes & Animation*/
@font-face {
  font-family: 'Apercu';
  src: url("../../fonts/apercu_regular-webfont.eot");
  src: url("../../fonts/apercu_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/apercu_regular-webfont.woff2") format("woff2"), url("../../fonts/apercu_regular-webfont.woff") format("woff"), url("../../fonts/apercu_regular-webfont.ttf") format("truetype"), url("../../fonts/apercu_regular-webfont.svg#apercuregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Apercu';
  src: url("../../fonts/apercu_bold-webfont.eot");
  src: url("../../fonts/apercu_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/apercu_bold-webfont.woff2") format("woff2"), url("../../fonts/apercu_bold-webfont.woff") format("woff"), url("../../fonts/apercu_bold-webfont.ttf") format("truetype"), url("../../fonts/apercu_bold-webfont.svg#apercubold") format("svg");
  font-weight: 700;
  font-style: normal; }

body {
  width: 100vw;
  overflow-x: hidden; }

@media screen and (min-width: 1025px) {
  .page-width-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box; } }

.svg-asset {
  width: 100%;
  height: 100%; }

.include-header-space {
  padding-top: 56px; }

.page-content {
  margin-bottom: 100px; }

/* Image with think border */
img.has-border {
  border: 8px solid #fff;
  box-sizing: border-box; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid__col {
  float: left;
  box-sizing: border-box; }
  .grid__col img {
    max-width: 100%; }
  .grid__col.grid__col--narrow {
    width: 100%; }
    @media screen and (min-width: 481px) {
      .grid__col.grid__col--narrow {
        width: 50%; } }
    @media screen and (min-width: 769px) {
      .grid__col.grid__col--narrow {
        width: 25%; } }
  .grid__col.grid__col--thirds {
    width: 100%; }
    @media screen and (min-width: 769px) {
      .grid__col.grid__col--thirds {
        width: 33%; } }
  .grid__col.grid__col--twos {
    width: 100%; }
    @media screen and (min-width: 769px) {
      .grid__col.grid__col--twos {
        width: 50%; } }
  .grid__col.grid__col--full {
    width: 100%; }

header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 100; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .header-wrapper {
    padding-left: 20px;
    padding-right: 20px; }

.logo {
  width: 151px;
  height: 21px;
  fill: #fff; }

.tagline {
  color: #00c8b4; }

#menu-icon {
  padding: 10px;
  width: 20px;
  height: 22px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: -10px; }
  #menu-icon svg {
    fill: #fff; }
  @media screen and (min-width: 769px) {
    #menu-icon {
      display: none; } }

.site-nav {
  display: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  box-sizing: border-box;
  background-color: #F4F4F4; }
  .site-nav.showing {
    display: block; }
  @media screen and (min-width: 769px) {
    .site-nav {
      height: auto;
      overflow-y: auto;
      overflow: visible;
      position: relative;
      left: auto;
      display: block;
      padding-top: 40px; }
      .site-nav:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        display: block;
        width: 1000%;
        height: 100%;
        background-color: #F4F4F4; } }
  @media screen and (min-width: 1025px) {
    .site-nav {
      min-height: 40vh; } }
  .site-nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .site-nav li {
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1;
    font-weight: 700; }
    .site-nav li ul {
      margin-top: 5px; }
      .site-nav li ul li {
        font-weight: 400;
        margin-bottom: 0;
        padding-left: 12px;
        text-transform: none; }
        .site-nav li ul li ul li {
          font-size: 11px; }
  .site-nav a {
    display: inline-block; }
    .site-nav a.active {
      color: #00c8b4; }

.page-mover {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  width: 100vw; }
  .page-mover.moved {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
    position: fixed; }
  @media screen and (min-width: 769px) {
    .page-mover {
      position: relative;
      width: auto; } }

@media screen and (min-width: 769px) {
  .include-header-space {
    display: table;
    table-layout: fixed; }
  .site-nav,
  .page-content {
    display: table-cell;
    vertical-align: top; }
  .site-nav {
    width: 220px; } }

footer {
  clear: left;
  background-color: #6d6e6e;
  min-height: 100px;
  box-sizing: border-box;
  min-height: 200px;
  padding: 20px; }
  footer, footer a {
    color: #F4F4F4; }
  @media screen and (min-width: 769px) {
    footer {
      padding: 40px; } }

/**
 * Syntax highlighting styles
 */
.highlight .c {
  color: #998;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #998;
  font-style: italic; }

.highlight .cp {
  color: #999;
  font-weight: bold; }

.highlight .c1 {
  color: #998;
  font-style: italic; }

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000;
  background-color: #fdd; }

.highlight .gd .x {
  color: #000;
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #a00; }

.highlight .gh {
  color: #999; }

.highlight .gi {
  color: #000;
  background-color: #dfd; }

.highlight .gi .x {
  color: #000;
  background-color: #afa; }

.highlight .go {
  color: #888; }

.highlight .gp {
  color: #555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaa; }

.highlight .gt {
  color: #a00; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #458;
  font-weight: bold; }

.highlight .m {
  color: #099; }

.highlight .s {
  color: #F66; }

.highlight .na {
  color: #00c8b4; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #458;
  font-weight: bold; }

.highlight .no {
  color: #00c8b4; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #900;
  font-weight: bold; }

.highlight .nf {
  color: #900;
  font-weight: bold; }

.highlight .nn {
  color: #555; }

.highlight .nt {
  color: #333333; }

.highlight .nv {
  color: #00c8b4; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbb; }

.highlight .mf {
  color: #099; }

.highlight .mh {
  color: #099; }

.highlight .mi {
  color: #099; }

.highlight .mo {
  color: #099; }

.highlight .sb {
  color: #F66; }

.highlight .sc {
  color: #F66; }

.highlight .sd {
  color: #F66; }

.highlight .s2 {
  color: #F66; }

.highlight .se {
  color: #F66; }

.highlight .sh {
  color: #F66; }

.highlight .si {
  color: #F66; }

.highlight .sx {
  color: #F66; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #F66; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999; }

.highlight .vc {
  color: #00c8b4; }

.highlight .vg {
  color: #00c8b4; }

.highlight .vi {
  color: #00c8b4; }

.highlight .il {
  color: #099; }

.page__header,
.page__content {
  padding: 20px; }
  @media screen and (min-width: 769px) {
    .page__header,
    .page__content {
      padding: 40px; } }
  .page__header h1,
  .page__header h2,
  .page__content h1,
  .page__content h2 {
    font-weight: 700; }
  .page__header h1,
  .page__content h1 {
    font-size: 3em; }
    @media screen and (min-width: 769px) {
      .page__header h1,
      .page__content h1 {
        font-size: 4em; } }
  .page__header h2,
  .page__header h1.styleguide,
  .page__content h2,
  .page__content h1.styleguide {
    font-size: 2em; }
    @media screen and (min-width: 769px) {
      .page__header h2,
      .page__header h1.styleguide,
      .page__content h2,
      .page__content h1.styleguide {
        font-size: 2.8em; } }
  .page__header h3,
  .page__content h3 {
    font-size: 1.4em;
    margin-top: 2em; }
    @media screen and (min-width: 769px) {
      .page__header h3,
      .page__content h3 {
        font-size: 2em; } }
  .page__header h1:first-of-type,
  .page__header h2:first-of-type,
  .page__content h1:first-of-type, .page__content h2:first-of-type {
    margin-top: 0;
    margin-bottom: .5em;
    line-height: 1; }
  .page__header h1:not(:first-of-type),
  .page__header h2:not(:first-of-type),
  .page__content h1:not(:first-of-type), .page__content h2:not(:first-of-type) {
    margin-top: 2em; }
  @media screen and (min-width: 769px) {
    .page__header h1:not(:first-of-type),
    .page__header h2:not(:first-of-type),
    .page__content h1:not(:first-of-type), .page__content h2:not(:first-of-type) {
      margin-top: 3em; } }
  .page__header img,
  .page__content img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%; }
    @media screen and (min-width: 769px) {
      .page__header img,
      .page__content img {
        margin-top: 40px;
        margin-bottom: 40px; } }
  .page__header p.example-container,
  .page__content p.example-container {
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
    margin-bottom: 90px; }
    .page__header p.example-container img,
    .page__content p.example-container img {
      margin: 0; }
    @media screen and (min-width: 769px) {
      .page__header p.example-container,
      .page__content p.example-container {
        padding: 40px; } }
  .page__header blockquote,
  .page__content blockquote {
    position: relative;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 0;
    padding-left: 1em;
    border-left: 1px solid #dfdfdf; }
  .page__header .pictogram-list,
  .page__content .pictogram-list {
    list-style: none;
    padding-left: 0; }
    .page__header .pictogram-list:after,
    .page__content .pictogram-list:after {
      content: "";
      display: table;
      clear: both; }
    .page__header .pictogram-list li,
    .page__content .pictogram-list li {
      float: left;
      width: calc(33.3333% - 10px);
      height: 60px;
      padding-top: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 12px;
      border: 1px solid #dfdfdf;
      margin-right: 10px;
      margin-bottom: 10px; }
      @media screen and (min-width: 769px) {
        .page__header .pictogram-list li,
        .page__content .pictogram-list li {
          width: calc(16.6% - 10px);
          height: 100px;
          padding: 40px; } }
      .page__header .pictogram-list li img,
      .page__content .pictogram-list li img {
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        max-height: 70%;
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0; }

.colorLightPrimary {
  background-color: #fff; }

.colorLightSecondary {
  background-color: #F4F4F4; }

.colorMedium {
  background-color: #dfdfdf; }

.colorDarkPrimary {
  background-color: #000; }

.colorDarkSecondary {
  background-color: #265F63; }

.colorDarkTertiary {
  background-color: #6d6e6e; }

.colorHighlightPositiveReduct {
  background-color: #cdece9; }

.colorHighlightPositive {
  background-color: #00c8b4; }

.colorHighlightNegative {
  background-color: #ba4242; }

.color-palette .color-palette__color__sample {
  padding-top: 50%; }
  .color-palette .color-palette__color__sample.border {
    border: 1px solid #dfdfdf; }

.color-palette .color-palette__color__variablename {
  font-size: 11px;
  word-wrap: break-word;
  max-width: 100%; }
  .color-palette .color-palette__color__variablename:before {
    content: "Sass variable:";
    font-family: Apercu, Helvetica, Arial;
    color: #265F63;
    display: block;
    text-transform: uppercase; }

.hero-stage {
  padding-top: 45%;
  padding-bottom: 15%;
  padding: 20px; }
  .hero-stage .welcome {
    font-size: 3em;
    line-height: .8; }
    @media screen and (min-width: 769px) {
      .hero-stage .welcome {
        font-size: 6em; } }
  .hero-stage h1 {
    color: #dfdfdf; }
    .hero-stage h1 span {
      color: #000; }
      .hero-stage h1 span span {
        border-bottom: 2px solid #00c8b4; }
  @media screen and (min-width: 769px) {
    .hero-stage {
      padding: 40px; }
      .hero-stage h1 {
        font-size: 2em; } }
  @media screen and (min-width: 1025px) {
    .hero-stage h1 {
      font-size: 3em; } }

.quick-nav {
  padding-top: 40px; }
  .quick-nav h2 {
    position: relative;
    top: -12px; }
  .quick-nav .quick-nav__box {
    margin-bottom: 20px; }
    @media screen and (min-width: 1025px) {
      .quick-nav .quick-nav__box {
        text-align: center;
        padding: 20px; } }
  .quick-nav .quick-nav__icon {
    width: 70px;
    height: 70px;
    margin-right: 12px; }
    @media screen and (min-width: 1025px) {
      .quick-nav .quick-nav__icon {
        width: 120px;
        height: 120px;
        display: block;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto; } }

.quick-nav__box img {
  margin-right: 12px; }

.quick-nav__box span {
  font-size: 18px; }

.mission-statement {
  background-color: #6d6e6e;
  color: #fff; }
  .mission-statement .mission-statement__content h1 {
    margin: 40px 0; }
  @media screen and (min-width: 769px) {
    .mission-statement .mission-statement__content {
      padding-left: 40px; }
      .mission-statement .mission-statement__content h1 {
        font-size: 3em; } }

h1.styleguide:not(:first-of-type) {
  margin-top: 80px; }

.highlight {
  position: relative;
  margin-top: 40px;
  max-width: none; }
  .highlight:after {
    content: "Code example";
    position: absolute;
    top: -8px;
    right: 12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #6d6e6e; }

pre {
  padding: 12px;
  background-color: #F4F4F4;
  border-left: 4px solid #dfdfdf;
  font-family: Inconsolata, Menlo, Monaco, monospace;
  color: #6d6e6e;
  -webkit-overflow-scrolling: touch; }
