code {
  padding: 0 .25rem;
  margin: .5rem 0;
  color: #297e84;
}

.code--block {
  display: block;
}

img {
  max-height: 100%;
  max-width: 100%;
}

img::after {
  content: attr(title);
}

main {
  margin: 0;
}

video {
  width: 90%;
}

ul {
  list-style: disc inside;
}

li > p:first-child {
  display: inline-block;
}

p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

h2 {
  margin-top: 80px;
}

h3 {
  margin-top: 48px;
}

h4 {
  margin-top: 32px;
}


.figure{
  margin-inline-end: 0;
  max-width: 375px;
  margin-top: 32px;
}

.figure img {
  border: 1px solid #f4f4f4;
}

.row .figure:first-child{
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.figure-caption__tag.do {
  font-weight: 500;
  color: #2e8618;
  border-top: 8px solid #2e8618;
}

.figure-caption__tag.dont {
  font-weight: 500;
  color: #b81818;
  border-top: 8px solid #b81818;
}

.figure-caption__text {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}

.lightbox {
  width: 100%;
  border: 1px solid #eee;
  background: #f4f4f4;
}

.lightbox__img {
  margin: 8px auto;
  display: block;
}


/* Nav */
.navbar {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  background-color: #262626;
  padding: 1.25rem 1rem;
  min-height: 4rem;
  flex-direction: column;
}


.navbar__logo {
  margin: auto 0;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
}

.navbar__nav {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

.navbar__navItem {
  margin: 0 .5rem;
}

.sideMenu {
  padding-top: 2rem;
  border-bottom: 1px solid #f4f4f4;
}
@media only screen and (min-width: 600px) {
  .sideMenu {
    border-bottom: 0 none;
    border-right: 1px solid #f4f4f4;
    padding-right: 1rem;
  }
}

.footer {
  margin-top: 3rem;
  background-color: #262626;
  padding: 1.25rem 1rem;
}

/* Playground */

.playground {
  font-size: 18px;
}

.playground__wrapper {
  border: 1px solid #f4f4f4;
  border-radius: .5rem;
}

.playground__preview {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
}
.CodeMirror-wrap{
  border: 1px solid #f4f4f4;
}

.filename:hover {
  cursor: pointer;
}


/* Code Block */
.example {
  border: 1px solid #eee;
  border-radius: 2px;
}

.example__preview {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.example__codeblock {
  padding: 15px;
  background: #f4f4f4;
}

.example__codeblock .hljs {
  background: #f4f4f4;
}

/* Color Swatch */

.swatch__color {
  display: inline-block;
  height: 128px;
  width:128px;
  padding: 8px;
  box-shadow: 0 8px 16px 0 rgba(4,68,77,.15);
  margin-right: 32px;
}

.swatch__info__name {
  display: block;
  text-transform: uppercase;
  line-height: 1.66667;
  font-weight: 600;
  font-size: 12px;
}

.swatch__group {
  margin-top: 32px;
}

/* Table */
table {
  border: 1px solid #dedede;
  border-spacing: 0;
  width: 100%;
}
th, td {
  padding: 14px 40px 14px 16px;
  border-bottom: 1px solid #dedede;
}

/* Loading icon for fun */

.loadingIcon {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
}
.loadingIcon div {
  animation: loadingIcon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.loadingIcon div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.loadingIcon div:nth-child(1) {
  animation-delay: -0.036s;
}
.loadingIcon div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.loadingIcon div:nth-child(2) {
  animation-delay: -0.072s;
}
.loadingIcon div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.loadingIcon div:nth-child(3) {
  animation-delay: -0.108s;
}
.loadingIcon div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.loadingIcon div:nth-child(4) {
  animation-delay: -0.144s;
}
.loadingIcon div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.loadingIcon div:nth-child(5) {
  animation-delay: -0.18s;
}
.loadingIcon div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.loadingIcon div:nth-child(6) {
  animation-delay: -0.216s;
}
.loadingIcon div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.loadingIcon div:nth-child(7) {
  animation-delay: -0.252s;
}
.loadingIcon div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.loadingIcon div:nth-child(8) {
  animation-delay: -0.288s;
}
.loadingIcon div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes loadingIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menuIcon div {
  width: 26px;
  height: 4px;
  background-color: #262626;
  margin: 4px 0;
  display: block;
}

@media only screen and (min-width: 600px) {
  .navbar{
    flex-direction: row;
  }

  .articleList {
    height: 100% !important;
  }

  .articleListToggle {
    display: none !important;
  }
}
.articleList {
  overflow: hidden;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  font-size: 24px;
  user-select: none;
  transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms, stroke 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
}