---
layout: page
title: Components
---
<h1 id="price-box" class="styleguide">Price Box</h1>
<p class="styleguide">Price boxes are a common way to display a price of an item. Note the containers for reduced and special prices:</p><div class="codeExample">
  <div class="exampleOutput">
    <div class="price-box">
  <div class="price-box__regular-price">
    <span>$65</span>
  </div>
  <div class="price-box__old-price">
    <span>$80</span>
  </div>
  <div class="price-box__special-price">
    <span>$10</span>
  </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box__regular-price"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span&gt;</span>$65<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box__old-price"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span&gt;</span>$80<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box__special-price"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span&gt;</span>$10<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
<p class="styleguide">This also works really nice with the <a class="styleguide" href="/components/desktop/font-size-helpers.html" title="/components/desktop/font-size-helpers.html">font size helper classes</a>:</p><div class="codeExample">
  <div class="exampleOutput">
    <div class="price-box fsxxl">
  <div class="price-box__old-price">
    <span>$80</span>
  </div>
  <div class="price-box__special-price">
    <span>$10</span>
  </div>
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box fsxxl"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box__old-price"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span&gt;</span>$80<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box__special-price"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span&gt;</span>$10<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="titlebar" class="styleguide">Titlebar</h1>
<p class="styleguide">Titlebars</p><p class="styleguide">This component is used in many areas of the shop, for example:</p><ul class="styleguide"><li>On my account pages</li>
<li>To host breadcrumps</li>
<li>In the catalog to show the number of search results</li>
</ul><p class="styleguide">Titlebars are used in conjunction with the <a class="styleguide" href="/components/desktop/spacing-helpers.html" title="/components/desktop/spacing-helpers.html">spacing helper classes</a>.</p><div class="codeExample">
  <div class="exampleOutput">
    <div class="title-bar pal">
    Hi there! I'm a title-bar.
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"title-bar pal"</span><span class="nt">&gt;</span>
    Hi there! I'm a title-bar.
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
