---
layout: page
title: helpers
---
<h1 id="fontsize-helpers" class="styleguide">Font size helpers</h1>
<p class="styleguide">These are css helper classes ready to use for layouting directly in html.</p><div class="codeExample">
  <div class="exampleOutput">
    <p class="fss">Small</p>
<p class="fsl">Medium</p>
<p class="fsxl">Large</p>
<p class="fssxxl">Extra Large</p>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"fss"</span><span class="nt">&gt;</span>Small<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"fsl"</span><span class="nt">&gt;</span>Medium<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"fsxl"</span><span class="nt">&gt;</span>Large<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"fssxxl"</span><span class="nt">&gt;</span>Extra Large<span class="nt">&lt;/p&gt;</span></pre>
    </div>
  </div>
</div>

<h1 id="style-helpers" class="styleguide">Stylisation Helpers</h1>
<p class="styleguide">Helpers to style the appearance of text</p><div class="codeExample">
  <div class="exampleOutput">
    <p class="strong">Strong</p>
<p class="normal">Normal</p>
<p class="italic">Italic</p>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"strong"</span><span class="nt">&gt;</span>Strong<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"normal"</span><span class="nt">&gt;</span>Normal<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"italic"</span><span class="nt">&gt;</span>Italic<span class="nt">&lt;/p&gt;</span></pre>
    </div>
  </div>
</div>
