---
layout: page
title: typography
---
<h1 id="headlines" class="styleguide">Headlines</h1>
<div class="codeExample">
  <div class="exampleOutput">
        <h1>Headline Level 1</h1>
    <h2>Headline Level 2</h2>
    <h3>Headline Level 3</h3>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;h1&gt;</span>Headline Level 1<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;h2&gt;</span>Headline Level 2<span class="nt">&lt;/h2&gt;</span>
    <span class="nt">&lt;h3&gt;</span>Headline Level 3<span class="nt">&lt;/h3&gt;</span></pre>
    </div>
  </div>
</div>
