---
layout: page
title: Colours-Mobile
---
<h1 id="colour-mobile-1" class="styleguide">Mobile Colours</h1>
<p class="styleguide">Colors on mobile devices has a much more limited range than on desktop and are more similar to the APP.</p><div class="codeExample">
    <div class="exampleOutput">
    	<h3>Primary Colours</h3>

Our base colour palette is monochrome.

<ul class="color-palette ui-listUnstyled grid">
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorDarkPrimary"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorDarkPrimary</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color color colorLightPrimary">
        <div class="mrm color-palette__color__sample colorLightPrimary border"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorLightPrimary</code>
    </li>
</ul>

<h3>Additional Colours</h3>

Only 3 shades of grey

<ul class="color-palette ui-listUnstyled grid">
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorLightSecondary"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorLightSecondary</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorMedium"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorMedium</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorDarkTertiary"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorDarkTertiary</code>
    </li>
</ul>

<h3>Feedback/Highlight Colours</h3>

These colours are used to highlight elements and/or to give positive, negative or neutral feedback.

<ul class="color-palette ui-listUnstyled grid">
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorPositiveDark"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorPositiveDark</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorPositiveLight"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorPositiveLight</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorNeutral"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorNeutral</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorNegativeDark"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">$colorNegativeDark</code>
    </li>
    <li class="grid__col grid__col--narrow color-palette__color">
        <div class="mrm color-palette__color__sample colorNegativeLight"></div>
        <code class="mts ui-inlineBlock color-palette__color__variablename">colorNegativeLight</code>
    </li>
</ul>

  	</div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;h3&gt;</span>Primary Colours<span class="nt">&lt;/h3&gt;</span>

Our base colour palette is monochrome.

<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"color-palette ui-listUnstyled grid"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorDarkPrimary"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorDarkPrimary<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color color colorLightPrimary"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorLightPrimary border"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorLightPrimary<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>

<span class="nt">&lt;h3&gt;</span>Additional Colours<span class="nt">&lt;/h3&gt;</span>

Only 3 shades of grey

<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"color-palette ui-listUnstyled grid"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorLightSecondary"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorLightSecondary<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorMedium"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorMedium<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorDarkTertiary"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorDarkTertiary<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>

<span class="nt">&lt;h3&gt;</span>Feedback/Highlight Colours<span class="nt">&lt;/h3&gt;</span>

These colours are used to highlight elements and/or to give positive, negative or neutral feedback.

<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"color-palette ui-listUnstyled grid"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorPositiveDark"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorPositiveDark<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorPositiveLight"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorPositiveLight<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorNeutral"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorNeutral<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorNegativeDark"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>$colorNegativeDark<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"grid__col grid__col--narrow color-palette__color"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"mrm color-palette__color__sample colorNegativeLight"</span><span class="nt">&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;code</span> <span class="na">class=</span><span class="s">"mts ui-inlineBlock color-palette__color__variablename"</span><span class="nt">&gt;</span>colorNegativeLight<span class="nt">&lt;/code&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></pre>
        </div>
    </div>
</div>

<blockquote>
<p class="styleguide">example-container</p></blockquote>
