---
layout: page
title: Components-Mobile
---
<h1 id="mobile-components-1" class="styleguide">Price</h1>
<p class="styleguide">Price boxes are a common way to display a price of an item. Note the containers for reduced and special prices:</p><div class="codeExample">
    <div class="exampleOutput">
    	<div>
<strong> Without Discount </strong>
    <br/>
    <span class="price-box"> $15 <span>
</div>
<div class="price-box">
<strong> With Discount </strong>
    <br/>
    <span class="price-box__special-price"> $10 </span>
    <br/>
    <span class="price-box__old-price"> $15 </span>
</div>

  	</div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div&gt;</span>
<span class="nt">&lt;strong&gt;</span> Without Discount <span class="nt">&lt;/strong&gt;</span>
    <span class="nt">&lt;br/&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"price-box"</span><span class="nt">&gt;</span> $15 <span class="nt">&lt;span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"price-box"</span><span class="nt">&gt;</span>
<span class="nt">&lt;strong&gt;</span> With Discount <span class="nt">&lt;/strong&gt;</span>
    <span class="nt">&lt;br/&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"price-box__special-price"</span><span class="nt">&gt;</span> $10 <span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;br/&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"price-box__old-price"</span><span class="nt">&gt;</span> $15 <span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<blockquote>
<p class="styleguide">example-container</p></blockquote>

<h1 id="mobile-components-2" class="styleguide">Pagination</h1>
<p class="styleguide">Pagination</p><p class="styleguide">This component is used mainly in the catalog of the shop, for example:</p><div class="codeExample">
    <div class="exampleOutput">
    	<section>
  <ul class="pagination mbs">
    <li class="mrxs">
      <span title="1" class=" current" data-url="/women/clothing/?page=1">1</span>
    </li>
    <li class="mrxs">
      <a title="2" class="" data-url="/women/clothing/?page=2">2</a>
    </li>
    <li class="mrxs">
      <a title="3" class="" data-url="/women/clothing/?page=3">3</a>
    </li>
    <li class="mrxs">
      <a title="4" class="" data-url="/women/clothing/?page=4">4</a>
    </li>
    <li class="mrxs">
      <a title="5" class="" data-url="/women/clothing/?page=5">5</a>
    </li>
  </ul>
</section>

  	</div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;section&gt;</span>
  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"pagination mbs"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"mrxs"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;span</span> <span class="na">title=</span><span class="s">"1"</span> <span class="na">class=</span><span class="s">" current"</span> <span class="na">data-url=</span><span class="s">"/women/clothing/?page=1"</span><span class="nt">&gt;</span>1<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"mrxs"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">title=</span><span class="s">"2"</span> <span class="na">class=</span><span class="s">""</span> <span class="na">data-url=</span><span class="s">"/women/clothing/?page=2"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"mrxs"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">title=</span><span class="s">"3"</span> <span class="na">class=</span><span class="s">""</span> <span class="na">data-url=</span><span class="s">"/women/clothing/?page=3"</span><span class="nt">&gt;</span>3<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"mrxs"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">title=</span><span class="s">"4"</span> <span class="na">class=</span><span class="s">""</span> <span class="na">data-url=</span><span class="s">"/women/clothing/?page=4"</span><span class="nt">&gt;</span>4<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"mrxs"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">title=</span><span class="s">"5"</span> <span class="na">class=</span><span class="s">""</span> <span class="na">data-url=</span><span class="s">"/women/clothing/?page=5"</span><span class="nt">&gt;</span>5<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/section&gt;</span></pre>
        </div>
    </div>
</div>

<blockquote>
<p class="styleguide">example-container</p></blockquote>
