---
layout: page
title: Grid-Mobile
---
<h1 id="headlines" class="styleguide">Grid</h1>
<p class="styleguide">We use a simple grid system with up to 6 columns:</p><div class="codeExample">
    <div class="exampleOutput">
    	<div class="container">
  <div class="unit size1of1">Full Width</div>
  <div class="unit size1of2">Halfs</div>
  <div class="unit size1of2">Halfs</div>

  <div class="unit size1of3">Thirds</div>
  <div class="unit size1of3">Thirds</div>
  <div class="unit size1of3">Thirds</div>

  <div class="unit size1of4">Quarters</div>
  <div class="unit size1of4">Quarters</div>
  <div class="unit size1of4">Quarters</div>
  <div class="unit size1of4">Quarters</div>

  <div class="unit size1of5">Fifths</div>
  <div class="unit size1of5">Fifths</div>
  <div class="unit size1of5">Fifths</div>
  <div class="unit size1of5">Fifths</div>
  <div class="unit size1of5">Fifths</div>

  <div class="unit size1of6">Sixths</div>
  <div class="unit size1of6">Sixths</div>
  <div class="unit size1of6">Sixths</div>
  <div class="unit size1of6">Sixths</div>
  <div class="unit size1of6">Sixths</div>
  <div class="unit size1of6">Sixths</div>
</div>

  	</div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of1"</span><span class="nt">&gt;</span>Full Width<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of2"</span><span class="nt">&gt;</span>Halfs<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of2"</span><span class="nt">&gt;</span>Halfs<span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of3"</span><span class="nt">&gt;</span>Thirds<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of3"</span><span class="nt">&gt;</span>Thirds<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of3"</span><span class="nt">&gt;</span>Thirds<span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of4"</span><span class="nt">&gt;</span>Quarters<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of4"</span><span class="nt">&gt;</span>Quarters<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of4"</span><span class="nt">&gt;</span>Quarters<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of4"</span><span class="nt">&gt;</span>Quarters<span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of5"</span><span class="nt">&gt;</span>Fifths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of5"</span><span class="nt">&gt;</span>Fifths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of5"</span><span class="nt">&gt;</span>Fifths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of5"</span><span class="nt">&gt;</span>Fifths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of5"</span><span class="nt">&gt;</span>Fifths<span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of6"</span><span class="nt">&gt;</span>Sixths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of6"</span><span class="nt">&gt;</span>Sixths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of6"</span><span class="nt">&gt;</span>Sixths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of6"</span><span class="nt">&gt;</span>Sixths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of6"</span><span class="nt">&gt;</span>Sixths<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of6"</span><span class="nt">&gt;</span>Sixths<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<blockquote>
<p class="styleguide">txtCenter grid-example</p></blockquote>

<h3>Go bananas with combinations!</h3>
<div class="codeExample">
    <div class="exampleOutput">
    	<div class="container">
  <div class="unit size1of3">1 of 3</div>
  <div class="unit size2of3">2 of 3</div>

  <div class="unit size1of2">1 of 2</div>
  <div class="unit size1of4">1 of 4</div>
  <div class="unit size1of4">1 of 4</div>

  <div class="unit size2of5">2 of 5</div>
  <div class="unit size3of5">3 of 3</div>
</div>

  	</div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of3"</span><span class="nt">&gt;</span>1 of 3<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size2of3"</span><span class="nt">&gt;</span>2 of 3<span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of2"</span><span class="nt">&gt;</span>1 of 2<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of4"</span><span class="nt">&gt;</span>1 of 4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size1of4"</span><span class="nt">&gt;</span>1 of 4<span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size2of5"</span><span class="nt">&gt;</span>2 of 5<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"unit size3of5"</span><span class="nt">&gt;</span>3 of 3<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<blockquote>
<p class="styleguide">txtCenter grid-example</p></blockquote>
