---
layout: page
title: Index
---
<h1 id="styleguide-1_0_0" class="styleguide">Scaffolding</h1>
<p class="styleguide">The mobile site is structured on a fluid gruid system, with the choice to display up to four columns.</p><p class="styleguide">Because mobile devices vary in screen dimensions, the grid will fill the width of the device up to 800px.</p>
<h1 id="styleguide-1_1_0" class="styleguide">Container</h1>
<p class="styleguide">First rule of fight club: everything must be inside a <em>.container</em>.</p><p class="styleguide">The container regulates the size and form of the content. It also keeps everything centered, grounded and balanced.</p><div class="codeExample">
  <div class="exampleOutput">
    <div class="container">
    <!-- All content goes here -->
</div>

  </div>
  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="c">&lt;!-- All content goes here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
</div>
