---
layout: page
title: Scaffolding
---
<h1 id="styleguide-1_0_0" class="styleguide">Scaffolding</h1>
<p class="styleguide">The mobile site is structured on a fluid gruid system, with the choice to display up to four columns.</p><p class="styleguide">Because mobile devices vary in screen dimensions, the grid will fill the width of the device up to 800px.</p>
<h1 id="styleguide-1_1_0" class="styleguide">Container</h1>
<p class="styleguide">First rule of fight club: everything must be inside a <code class="styleguide">.container</code>.</p><p class="styleguide">The container regulates the size and form of the content. It also keeps everything centered, grounded and balanced.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="container">
    <!-- All content goes here -->
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="c">&lt;!-- All content goes here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_2_0" class="styleguide">Surfaces</h1>
<p class="styleguide">All content on the mobile site is displayed on a surface. Surfaces set the default margins and padding, and give the page its basic shape.</p><p class="styleguide">Surfaces must be used with the grid system (See section 1.3). In the examples below, each surface has a <code class="styleguide">&lt;div class=&quot;full&quot;&gt;...&lt;/div&gt;</code> inside it. This is the HTML markup for a one-column layout with the grid system. Content may not be displayed correctly if the grid system is not used.</p>
<h1 id="styleguide-1_2_1" class="styleguide">Desk</h1>
<p class="styleguide">This will have 6px padding on both sides, and its background will be the gray of the site.</p><p class="styleguide">Content on the desk includes the site footer, product filter buttons, or other <code class="styleguide">&lt;aside&gt;</code>-like elements.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="desk">
    <div class="full">This is the desk.</div>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"desk"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full"</span><span class="nt">&gt;</span>This is the desk.<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_2_2" class="styleguide">Paper</h1>
<p class="styleguide">This surface is a rectangle with a white background and 6px padding on both sides.</p><p class="styleguide">Most of the content on the site will be on a paper surface.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="paper">
    <div class="full">This is paper.</div>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full"</span><span class="nt">&gt;</span>This is paper.<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_2_3" class="styleguide">Well</h1>
<p class="styleguide">The well is a surface inset into the desk.</p><p class="styleguide">This is useful for auxiliary content, like filter and sorting options.
When combined with CSS transitions, it looks like a panel in the desk
is opening.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="well">
    <div class="full">Don't fall in the well!</div>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"well"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full"</span><span class="nt">&gt;</span>Don't fall in the well!<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_2_4" class="styleguide">Carbon</h1>
<p class="styleguide">This fills the screen and has a darker background than the desk.
Use it to emphasize content.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="carbon">
    <div class="full">Pay attention.</div>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"carbon"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full"</span><span class="nt">&gt;</span>Pay attention.<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_2_5" class="styleguide">Surface Spacing</h1>
<p class="styleguide">All the surfaces have a left and right padding. However, <code class="styleguide">.paper</code> has
additional padding because it has a border.</p><p class="styleguide">There are times when you want text in neighboring surfaces to have the same
left and right padding. Add the class <code class="styleguide">z-content</code> to the surface element to
make sure text lines up on all surfaces.</p><p class="styleguide">This can be used on any surface, but it won&#39;t have any effect on <code class="styleguide">.paper</code>.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="carbon">
    <p>Without z-content, it looks like this</p>
</div>
<div class="desk">
    <p>Without z-content, it looks like this</p>
</div>
<div class="well">
    <p>Without z-content, it looks like this</p>
</div>
<div class="paper">
    <p>Without z-content, it looks like this</p>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"carbon"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Without z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"desk"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Without z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"well"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Without z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Without z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>
<div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="carbon z-content">
    <p>With z-content, it looks like this</p>
</div>
<div class="desk z-content">
    <p>With z-content, it looks like this</p>
</div>
<div class="well z-content">
    <p>With z-content, it looks like this</p>
</div>
<div class="paper z-content">
    <p>With z-content, it looks like this</p>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"carbon z-content"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>With z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"desk z-content"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>With z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"well z-content"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>With z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper z-content"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>With z-content, it looks like this<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_3_0" class="styleguide">Well</h1>
<p class="styleguide">The mobile site supports up to four fluid columns. The columns will fill the width of the device up to 800px. This covers all handheld devices and many small tablets.</p><p class="styleguide">To use the grid, create a <em>div</em> and set its class to one of the following divisions:</p><ul class="styleguide"><li>full</li>
<li>half</li>
<li>two-thirds</li>
<li>one-third</li>
<li>three-quarters</li>
<li>one-quarter</li>
</ul>
<h3>Nesting</h3>
<p class="styleguide">Grid elements should not be nested.</p>
<h3>Usage</h3>
<p class="styleguide">All content should be in a grid element. Unexpected things may happen if content is placed outside of a grid element.</p>
<h3>Important Note</h3>
<p class="styleguide">This grid system does not use floats. This is to reduce the amount of markup required on the mobile site, and to reduce reflow/repaint complexity.</p><p class="styleguide">Because of this, IT IS REQUIRED that there is whitespace between the grid elements. In other words, <em>&lt;div class=&quot;half&quot;&gt;...&lt;/div&gt;&lt;div class=&quot;half&quot;&gt;...&lt;/div&gt;</em> is BAD. <em>&lt;div class=&quot;half&quot;&gt;...&lt;/div&gt; &lt;div class=&quot;half&quot;&gt;...&lt;/div&gt;</em> is GOOD</p><p class="styleguide">It is enough to have a line break between grid elements. This notice is important if the HTML is minimized at some point.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="full">One column</div>
<div class="half">1 of 2</div> <div class="half">2 of 2</div>
<div class="one-third">1 of 3</div> <div class="one-third">2 of 3</div> <div class="one-third">3 of 3</div>
<div class="one-third">1/3</div> <div class="two-thirds">2/3</div>
<div class="one-quarter">1 of 4</div> <div class="one-quarter">2 of 4</div> <div class="one-quarter">3 of 4</div> <div class="one-quarter">4 of 4</div>
<div class="one-quarter">1/4</div> <div class="three-quarters">3/4</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full"</span><span class="nt">&gt;</span>One column<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"half"</span><span class="nt">&gt;</span>1 of 2<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"half"</span><span class="nt">&gt;</span>2 of 2<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third"</span><span class="nt">&gt;</span>1 of 3<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third"</span><span class="nt">&gt;</span>2 of 3<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third"</span><span class="nt">&gt;</span>3 of 3<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third"</span><span class="nt">&gt;</span>1/3<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"two-thirds"</span><span class="nt">&gt;</span>2/3<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-quarter"</span><span class="nt">&gt;</span>1 of 4<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-quarter"</span><span class="nt">&gt;</span>2 of 4<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-quarter"</span><span class="nt">&gt;</span>3 of 4<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-quarter"</span><span class="nt">&gt;</span>4 of 4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-quarter"</span><span class="nt">&gt;</span>1/4<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"three-quarters"</span><span class="nt">&gt;</span>3/4<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_3_1" class="styleguide">Grid Content Positioning</h1>
<p class="styleguide">The content inside the grid cell can be positioned by adding any of the following classes:</p><ul class="styleguide"><li>.align-left - This is the default alignment</li>
<li>.align-center</li>
<li>.align-right</li>
</ul><p class="styleguide">This works for any block level element.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="full align-left">
    <p>Aligned left.</p>
    <p>This is default.</p>
    <p>Not impressive.</p>
</div>
<div class="full align-center">
    <p>This must be important.</p>
    <p>It's in the middle!</p>
</div>
<div class="full align-right">
    <p>Now we're talking.</p>
    <p>Position your elements anywhere</p>
</div>
<div class="one-third align-left">Left</div> <div class="one-third align-center">Center</div> <div class="one-third align-right">Right</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full align-left"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Aligned left.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>This is default.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Not impressive.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full align-center"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>This must be important.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>It's in the middle!<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full align-right"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Now we're talking.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Position your elements anywhere<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third align-left"</span><span class="nt">&gt;</span>Left<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third align-center"</span><span class="nt">&gt;</span>Center<span class="nt">&lt;/div&gt;</span> <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third align-right"</span><span class="nt">&gt;</span>Right<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_3_2" class="styleguide">Grid Cell Positioning</h1>
<p class="styleguide">The grid cell itself can be positioned vertically. This works when there is
more than one column.</p><ul class="styleguide"><li>.align-top - This is the default alignment</li>
<li>.align-middle</li>
<li>.align-bottom</li>
</ul><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="one-third align-center align-top">
    <p>Fill it up</p>
    <p>Fill it up</p>
</div>
<div class="one-third align-center align-middle">
    <p>Fill it up</p>
    <p>Fill it up</p>
    <p>Fill it up</p>
    <p>Fill it up</p>
    <p>Fill it up</p>
    <p>Fill it up</p>
</div>
<div class="one-third align-right align-bottom">
    <p>Fill it up</p>
    <p>Fill it up</p>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third align-center align-top"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third align-center align-middle"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third align-right align-bottom"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;</span>Fill it up<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_3_4" class="styleguide">Spacing</h1>
<p class="styleguide">The grid elements have very little vertical space between them.</p><p class="styleguide">To increase the vertical space between elements, you can use <em>.thick</em> grid
elements, or give them some <em>.breathing-room</em>. <em>.breathing-room</em> gives twice
as much space as <em>.thick</em>. Be aware that <em>.thick</em> uses padding, and <em>breathing-room</em>
uses margins. Keep this in mind because this difference has implications on the design.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="paper">
    <div class="full thick">
        <div>Hello</div>
    </div>
    <div class="full thick">
        <div>Bonjour</div>
    </div>
    <hr>
    <div class="full breathing-room">
        <div>Hello</div>
    </div>
    <div class="full breathing-room">
        <div>Bonjour</div>
    </div>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full thick"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>Hello<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full thick"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>Bonjour<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;hr&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full breathing-room"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>Hello<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"full breathing-room"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>Bonjour<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>

<h1 id="styleguide-1_4_0" class="styleguide">Table Layout</h1>
<p class="styleguide">On a shopping site, it&#39;s common to see data layed out as a table. This can be
achieved with the following classes:</p><ul class="styleguide"><li><em>.table</em></li>
<li><em>.row</em></li>
<li><em>.cell</em></li>
</ul><p class="styleguide">These tables can be used on any element.</p><p class="styleguide"><strong>NOTE:</strong> Unfortunately, table elements cannot be aligned with the alignment
classes. The only way to satisfactorily align them is to give them full width.
Set the class <em>table-full</em> on the table element to be able to align it.</p><div class="codeExample">
    <div class="exampleOutputMobile">
        <div class="paper">
    <div class="table">
        <p class="row">
            <span class="cell">One Label</span>
            <span class="cell">Value</span>
        </p>
        <p class="row">
            <span class="cell">Another Label&nbsp;</span>
            <span class="cell">Value</span>
        </p>
    </div>
</div>
<!-- Different structure, same table -->
<div class="paper">
    <section class="table">
        <div class="row">
            <p class="cell">A third label&nbsp;</p>
            <p class="cell">Value</p>
        </div>
        <div class="row">
            <p class="cell">Last Label</p>
            <p class="cell">Value</p>
        </div>
    </section>
</div>
<!-- Aligned right -->
<div class="paper align-right">
    <section class="table table-full">
        <div class="row">
            <p class="cell">A third label&nbsp;</p>
            <p class="cell">Value</p>
        </div>
        <div class="row">
            <p class="cell">Last Label</p>
            <p class="cell">Value</p>
        </div>
    </section>
</div>

    </div>
    <div class="codeBlock">
        <div class="highlight">
            <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"table"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>One Label<span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Value<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Another Label<span class="ni">&amp;nbsp;</span><span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Value<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- Different structure, same table --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"table"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>A third label<span class="ni">&amp;nbsp;</span><span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Value<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Last Label<span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Value<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="c">&lt;!-- Aligned right --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"paper align-right"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"table table-full"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>A third label<span class="ni">&amp;nbsp;</span><span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Value<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Last Label<span class="nt">&lt;/p&gt;</span>
            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"cell"</span><span class="nt">&gt;</span>Value<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
        </div>
    </div>
</div>
